<div class="ms-thumbnail-container">
  <figure class="ms-thumbnail ms-thumbnail-center" style="background-image:url(../../assets/img/back_mountain.jpg)">
   <figcaption class="ms-thumbnail-caption text-center">
      <div class="ms-thumbnail-caption-content banner-container">
        <h3 class="ms-thumbnail-caption-title">Practical education for the fitness minded individual and professional</h3>
        <div class="buttons-row">
          <div class="buttons-row-element">
            <a class="btn btn-raised btn-primary" routerLink=".">Learn in Class</a>
            <p>Attend live courses and workshops</p>
          </div>
          <div class="buttons-row-element">
            <a class="btn btn-raised btn-primary" href="https://www.thinkific.com">Learn Online</a>
            <p>Learn at your ouwn pace,with tour own schedule</p>
          </div>
        </div>
      </div>
   </figcaption>
  </figure>
</div>

<div class="container logos-container">
  <span class="logos-text">Proudly supporting the industry leaders</span>
  <ul class="logos-box">
    <li class="img-logo-square" style="background-image: url('../../assets/img/demo/m1.png');"><a href="#"></a></li>
    <li class="img-logo-square" style="background-image: url('../../assets/img/demo/m2.png');"><a href="#"></a></li>
    <li class="img-logo-square" style="background-image: url('../../assets/img/demo/m3.png');"><a href="#"></a></li>
    <li class="img-logo-square" style="background-image: url('../../assets/img/demo/m4.png');"><a href="#"></a></li>
    <li class="img-logo-square" style="background-image: url('../../assets/img/demo/m1.png');"><a href="#"></a></li>
    <li class="img-logo-square" style="background-image: url('../../assets/img/demo/m2.png');"><a href="#"></a></li>
    <li class="img-logo-square" style="background-image: url('../../assets/img/demo/m3.png');"><a href="#"></a></li>
  </ul>
</div>

<div class="form-banner">
  <div class="container form-container">
    <h3>Love Learning? &#123; <span class="text-in-braces">Monthly educational content</span> &#125;</h3>
    <form [formGroup]="subscribeForm" (ngSubmit)="formSubmit($event)">
        <fieldset>
          <div class="form-group">
            <input type="text" formControlName="name" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="email" formControlName="email" placeholder="Email">
          </div>
          <button  class="btn btn-raised btn-primary" [disabled]="subscribeForm.invalid" type="submit">Count me in!</button>
        </fieldset>
    </form>
  </div>
</div>

