.card {
    background-color: transparent;
    box-shadow: none;
    min-height: 300px;
    margin-bottom: 7rem;
    clear: both;
}

.wrapper-courses-categories-component .card-block {
    padding: 0rem;
    min-height: 300px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-width: 100%;
}
h3.title {
    text-align: center;
    margin: 3rem 0 5rem 0;
    font-size: 24px;
}
.course-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-items: stretch;
}
.course-image-wrapper{
    flex-basis:30%;
    .img-category {
        max-height: 300px;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.course-description-wrapper{
    flex-basis: 68%;
    margin-left:4rem;
    h4.title {
        color: #000 !important;
        font-size: 22px;
        font-weight: 400
    }

    p.description {
        color: #747474;
        font-size: 16px;
    }

    .view-btn {
        text-transform: uppercase;
        color: #F48801;
        font-size: 18px;
        float: right;
        margin-top: 10px;
        line-height: 50px;
        border: 1px solid transparent;
        align-self: flex-end;
        &:hover {
            border-color: #FFFFFF;
        }
    }
}

