<div class="wrapper-courses-categories-component">
  <div class="row">
    <div class="col-md-12">
      <div class="card" *ngFor="let categorie of categoriesListData; let i = index">
        <div class="course-wrapper">
          <div class="course-image-wrapper">
            <img src="{{ categorie?.image }}" alt="" class="img-responsive img-category">  
          </div>
          <div class="course-description-wrapper">
            <div class="card-block text-left">
              <div class="text-left">
                <h4 class="color-primary title">{{ categorie?.name }}</h4>
                <p class="description">{{ categorie?.description }}</p>
              </div>
              <button md-button class="view-btn" (click)="onSelectedCategory(i)">view category</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>   
</div>
 