<nav class="navbar navbar-static-top yamm ms-navbar app-header-navbar">
  <div class="container container-full">
      <nav class="navbar">
          <div class="container-fluid">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle btn-navbar-menu" data-toggle="collapse" data-target="#myNavbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">WebSiteName</a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="nav navbar-nav navbar-right">
                      <li class="active">
                          <a href="#" class="" data-name="Learn in Class">Learn in Class</a>
                      </li>
                      <li >
                          <a href="#" class="" data-name="Learn Online">Learn Online</a>
                      </li>
                      <li >
                          <a href="#" class="" data-name="Blog">Blog</a>
                      </li>
                      <li >
                          <a href="https://www.thinkific.com/signin/" class="" data-name="Student Login">Student Login</a>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>
  </div>
</nav>



