<nav class="navbar yamm ms-navbar" >
    <div class="container container-full container-not-padding">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img src="../assets/DTSLogo.svg" alt="">
            </a>
        </div>
        <a md-button href="javascript:void(0)" class="sb-toggle-left navbar-toggle btn-navbar-menu" data-toggle="collapse" data-target="#navbar" (click)="changeFlag($event)" ><i class="zmdi zmdi-menu"></i></a>
        <div id="navbar" class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                <li>
                    <a md-button data-name="Home" routerLink="home" routerLinkActive="active">Home</a>
                </li>
                <li [ngClass]="(routerHome && !homeScrolled) ? 'invisible' : 'visible'">
                    <a routerLink="learn-in-class" md-button data-name="Learn in Class" routerLinkActive="active">Learn in Class</a>
                </li>
                <li [ngClass]="(routerHome && !homeScrolled) ? 'invisible' : 'visible'">
                    <a href="https://www.thinkific.com" md-button data-name="Learn Online" target="_blank">Learn Online</a>
                </li>
                <li>
                    <a href="https://blog.dtsfitnesseducation.com" md-button data-name="Blog" target="_blank">Blog</a>
                </li>
                <li>
                    <a routerLink="team" md-button routerLinkActive="active" data-name="Team">Team</a>
                </li>
                <li>
                    <a href="https://www.thinkific.com/signin/" md-button data-name="Student Login" target="_blank">Student Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="ms-slidebar sb-slidebar sb-left sb-style-overlay" id="ms-slidebar" [ngClass]="slidebarFlag ? 'visible' : ''">
    <div class="sb-slidebar-container">
        <header>
            <a href="/" class="slidebar-logo"><img src="../assets/DTSLogo.svg" alt=""></a>
        </header>

        <ul class="ms-slidebar-menu" id="slidebar-menu" role="tablist" aria-multiselectable="true">
            <li class="panel" id="sch1"><a routerLink="home" data-name="Home" routerLinkActive="active"><i class="fa fa-home"></i>Home</a></li>
            <li class="panel">
                <a routerLink="learn-in-class" data-name="Learn in Class" routerLinkActive="active"><i class="fa fa-graduation-cap"></i>Learn in Class</a>
            </li>
            <li class="panel">
                <a href="https://www.thinkific.com" class="" data-name="Learn Online" target="_blank"><i class="fa fa-desktop"></i>Learn Online</a>
            </li>
            <li class="panel">
                <a href="https://blog.dtsfitnesseducation.com" class="" data-name="Blog" target="_blank"><i class="fa fa-edit"></i>Blog</a>
            </li>
            <li class="panel">
                <a routerLink="team" routerLinkActive="active" data-name="Team"><i class="fa fa-users"></i>Team</a>
            </li>
            <li class="panel">
                <a href="https://www.thinkific.com/signin/" data-name="Student Login" target="_blank"><i class="fa fa-lock"></i>Student Login</a>
            </li>
            <li class="panel">
                <a href="https://www.thinkific.com/signin/" data-name="Help Centre & FAQ"  target="_blank"><i class="fa fa-question-circle"></i>Help Centre & FAQ</a>
            </li>
            <li class="panel">
                <a routerLink="/contact-support" data-name="Contact Support"><i class="fa fa-envelope"></i>Contact Support</a>
            </li>
            <li class="panel">
                <a routerLink="/payment-receipts" data-name="Payment Receipts"><i class="fa fa-file-text-o"></i>Payment Receipts</a>
            </li>
            <li class="panel">
                <a routerLink="/terms-of-service" data-name="Terms of Service"><i class="fa fa-gavel"></i>Terms of Service</a>
            </li>
            <li class="panel">
                <a href="https://help.dtsfitnesseducation.com/article/38-cancellations-refunds" data-name="Cancellations & Refunds" target="_blank"><i class="fa fa-rotate-left"></i>Cancellations & Refunds</a>
            </li>
            <li class="panel">
                <a routerLink="/privacy-statement" data-name="Privacy Statement"><i class="fa  fa-shield"></i>Privacy Statement</a>
            </li>
        </ul>
        <div class="ms-slidebar-social ms-slidebar-block">
            <h4 class="ms-slidebar-block-title">Social Links</h4>
            <div class="ms-slidebar-social">
                <a href="https://www.facebook.com/dtsfitnesseducation" class="btn-circle btn-circle-raised btn-facebook" target="_blank"><i class="zmdi zmdi-facebook"></i><div class="ripple-container"></div></a>
                <a href="https://www.youtube.com/user/DarbyTrainingSystems" class="btn-circle btn-circle-raised btn-youtube" target="_blank"><i class="zmdi zmdi-youtube"></i><div class="ripple-container"></div></a>
                <a href="https://www.instagram.com/dts_edu" class="btn-circle btn-circle-raised btn-instagram" target="_blank"><i class="zmdi zmdi-instagram"></i><div class="ripple-container"></div></a>
            </div>
        </div>
    </div>
</div>





