.visible{
  display:inline-block;
}
.invisible{
  display:none;
}
  .ms-header{
    background-color: #fff;
    color: #313131;
    .ms-title{
      a img {
        height: 50px;
      }
    }
    .btn-circle {
      color: #313131;
      &:before{
        background-color: #313131;
      }
    }
    .btn-circle:hover,
    .btn-circle:focus {
      color: #fff;
    }
    .search-form .search-input {
      color: #313131;
      font-weight: 400;
    }
  }
  .ms-navbar {
    z-index: 1000;
    border-width: 0 0 1px;
    margin-bottom: 0;
    background-color: #fff;
    @media (max-width: 991px) {
      .container{
        .navbar-collapse {
          display: none !important;
        }
      }
    }
    @media (min-width: 768px) {
      border-radius: 0;
    }
    .navbar-nav li a{
      color:#313131;
      @media (max-width: 991px){
      padding: 15px 10px;
      }
      &:after{
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        bottom:0;
        background-color: #EB8C00;
        -webkit-transition: all ease .3s;
        transition: all ease .3s
      }
      &:hover,
      &.active{
        background-color: #fff;
      }
      &:hover:after,
      &.active:after{
        height: 3px;
      }
    }
    .navbar-header{
      a.navbar-brand{
        padding: 0 0 0 15px;
        margin-right:0;
        img{
          height: 50px;
        }
      }
    }
    .btn-navbar-menu {
      margin-top: 0;
      position: relative;
      right:inherit;
      color: #313131;
      margin-bottom:0;
    }
  }
  .ms-slidebar{
    top: 0;
    margin-left: -300px;
    position: fixed;
    transition: all 1s ease;
    min-height: 100vh;
    z-index: 9999;
    display: block;
    .ms-slidebar-menu > li > a:after {
      content: '';
    }
    &.visible{
      transform:translate(300px);
    }
  }


.ms-slidebar {
  transition-duration: 0.5s;
}