.visible{
  display:inline-block;
}
.invisible{
  display:none;
}
  .ms-navbar {
    z-index: 1000;
    border-width: 0 0 1px;
    margin-bottom: 0;
    background-color: #fff;
    .container{
      .navbar-collapse {
        padding:0;
      }
    }
    @media (max-width: 991px) {
      .container{
        .navbar-collapse {
          display: none !important;
        }
      }
    }
    @media (min-width: 768px) {
      border-radius: 0;
    }
    .navbar-nav li a{
      color:#616161;
      @media (max-width: 991px){
      padding: 15px 10px;
      }
      &:after{
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        bottom:0;
        background-color: #EB8C00;
        -webkit-transition: all ease .3s;
        transition: all ease .3s
      }
      &:hover,
      &.active{
        background-color: #fff;
      }
      &:hover:after,
      &.active:after{
        height: 3px;
      }
    }
    .navbar-header{
      a.navbar-brand{
        padding: 0 0 0 15px;
        margin-right:0;
        display: block;
        img{
          height: 50px;
          padding:5px;
        }
      }
    }
    .btn-navbar-menu {
      margin-top: 0;
      position: relative;
      right: inherit;
      color: #616161;
      padding: 0;
      min-width: 50px;
      display: none;
      @media (max-width: 991px){
        display: block;
      }
    }
  }
  .ms-slidebar{
    top: 0;
    margin-left: -300px;
    position: fixed;
    transition: all 1s ease;
    min-height: 100vh;
    z-index: 9999;
    transition-duration: 0.5s;
    display:none;
    @media (max-width: 991px) {
      display: block;
    }
    .slidebar-logo{
      height: 50px;
      img{
        height: inherit;
        padding: 5px;
      }
    }
    .ms-slidebar-menu > li > a:after {
      content: '';
    }
    .ms-slidebar-menu > li > a{
      color: #757575;
    }
    &.visible{
      transform:translate(300px);
    }
  }

.container-not-padding {
  padding: 0 5px;
}