#navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navbar-brand{
    float: none;
  }
  .app-header-menu{
    float: none;
  }
}

.ms-header {
  min-height: 100px;
  background-color: #fff;
  position: relative;
  z-index: 2;

  .ms-title {
    padding-top: 0;
    display: inline-block;

    img {
      margin: 15px 20px 0 0;
    }

    .ms-logo {
      margin-top: 20px;
      margin-right: 10px;
      vertical-align: middle;
    }

   }
  }
