.ms-footer{
  padding-top:50px;
  background-color: #262626;
  .three_cols li {
    &:nth-child(1),&:nth-child(4){
      text-align: left;
    }
    &:nth-child(3),&:nth-child(6){
      text-align: right;
    }
    @media (max-width: 480px) {
      width: 50%;
    }
    a{
      &:hover,&:focus{
        color:#EB8C00;
      }
    }
  }
  .footer-bottom-section{
    padding-top:30px;
    display: flex;
    align-items: center;
    p{
      flex-basis: 50%;
      text-align: left;
    }
    .ms-footbar-social{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-basis: 50%;

    }
  }
}
