<footer class="ms-footer">
  <div class="container">
    <div class= "ms-footer-col">
      <ul class="list-unstyled ms-icon-list three_cols">
        <li><a href="https://help.dtsfitnesseducation.com" target="_blank">Help Centre & FAQ</a></li>
        <li><a href="#">Payment Receipts</a></li>
        <li><a [routerLink]="terms_of_service" routerLinkActive="active">Terms of Service</a></li>
        <li><a [routerLink]="contact_support" routerLinkActive="active">Contact Support</a></li>
        <li><a href="#">Cancellations & Refunds</a></li>
        <li><a [routerLink]="privacy_statement" routerLinkActive="active">Privacy Statement</a></li>
      </ul>
    </div>
  </div>
  <div class="container footer-bottom-section">
    <p>Copyright &copy; 2017 DTS Fitness Education</p>
    <div class="ms-footbar-social">
      <a href="https://www.facebook.com/dtsfitnesseducation" class="btn-circle btn-facebook"><i class="zmdi zmdi-facebook" target="_blank"></i></a>
      <a href="https://www.youtube.com/user/DarbyTrainingSystems" class="btn-circle btn-youtube" target="_blank"><i class="zmdi zmdi-youtube"></i></a><br>
      <a href="https://www.instagram.com/dts_edu" class="btn-circle btn-instagram"><i class="zmdi zmdi-instagram" target="_blank"></i></a>
    </div>
  </div>
</footer>

<div class="btn-back-top">
  <a href="#" data-scroll id="back-top" class="btn-circle btn-circle-primary btn-circle-sm btn-circle-raised "><i class="zmdi zmdi-long-arrow-up"></i></a>
</div>

