<div class="static-banner-container">
  <figure style="background-image:url(../../../assets/img/back_mountain.jpg)">
    <figcaption class="text-center">
      <h3 class="">Terms and Conditions</h3>
    </figcaption>
  </figure>
</div>
<div class="container static-page-container">
  Welcome, and thank you for your interest in DTS Fitness Education.

  When you use our products and services, you're agreeing to our Terms and Conditions. Please read them carefully before registering for any in-person (“Learn In Class”) courses, workshops or events on <a href="http://www.dtsfitnesseducation.com" target="_blank">www.dtsfitnesseducation.com</a>.


  <h5>COURSE AND WORKSHOP REGISTRATIONS</h5>
  All registrations are non-refundable. No refunds will be issued for any course or workshop so please be sure that you can attend the dates and location of the workshop before you complete your registration.

  In special circumstances* only, a transfer can be applied if notification is received at least 2 weeks prior to the course date. Transfers in these special circumstances only are valid for 1 year. Transfers are subject to a $25 transfer fee due upon transfer. All requests for transfers must be submitted by email to: info@dtsfitnesseducation.com

  *Special Circumstances relate strictly to unforeseen circumstances and are approved at the discretion of DTS Fitness Education. Any cancellations of registrations within 2 weeks of the course date will be forfeited and not eligible for a transfer. Failure to attend a workshop will result in all remaining segments being denied to the registrant and all regular fees will not be refunded or transferable for future courses.


  <h5>AGREEMENT TO PARTICIPATE</h5>

  <h5>Participation Waiver</h5>
  Participation in all courses and workshops requires participants to agree to a waiver. You must indicate your agreement to a waiver before registering for a course or workshop.

  <h5>Intellectual Property</h5>
  You acknowledge that all printed materials provided to you including, but not limited to handout manuals, is the property of DTS Fitness Education. These printed materials are to be used solely by you and are not to be shared, duplicated or reproduced by me or anyone acting on your behalf.

  <h5>Photographs and Media Consent and Release</h5>
  You consent and authorize DTS Fitness Education or our agents to take photographs, videos, or other types of media productions that capture your image and/or voice. You authorize DTS Fitness Education to copyright and use these materials for any educational or promotional purposes without notifying you.

  <h5>Electronic Communication</h5>
  To enhance your learning experience and as part of your course registration you will receive electronic communication (emails). These emails will provide access to your pre and post course materials, as well as all course related information and updates. You always have the option to stop/unsubscribe from these messages.


  <h5>COURSE AND WORKSHOP COMPLETION REQUIREMENTS</h5>
  Full attendance is required for all courses and workshops and all requirements outlined in the course description must be fulfilled successfully in order to receive your certificate of completion or certification.


  <h5>CERTIFICATES</h5>
  Certificates will be provided on the last day of the course or workshop (with the exception of Animal Flow® workshops). Your name will appear exactly as provided during registration. Please double check your spelling and include your professional name. An administration fee will apply for reprinted certificates.


  <h5>RECEIPTS</h5>
  Receipts are automatically sent by email when participants register and pay online. Please be aware that spam filters can block email receipts. If you do not see your receipt within 5 minutes of your completed transaction, please check these filters!
</div>
