<div class="static-banner-container">
  <figure style="background-image:url(../../../assets/img/back_mountain.jpg)">
    <figcaption class="text-center">
      <h3 class="">Terms and Conditions</h3>
    </figcaption>
  </figure>
</div>
<div class="container static-page-container">
  <h5>some text</h5>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto culpa eius facilis fugiat maxime nulla quod sunt tempore voluptas. Asperiores aspernatur eligendi molestias perspiciatis quis sapiente tenetur unde voluptates!
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, architecto consequuntur debitis dicta dolore earum esse fuga hic impedit ipsa ipsam neque quibusdam, repellendus sed voluptas voluptatibus voluptatum? Exercitationem, fugiat?
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ea eos illo ipsa non praesentium quasi qui quibusdam, quisquam sapiente? Consequatur enim esse facere obcaecati placeat provident quae quam quia.
  <h5>heading</h5>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A culpa doloremque doloribus eos est nesciunt quae, sed. Dicta dolor laborum, omnis soluta vero voluptate. Asperiores cupiditate doloribus provident reiciendis voluptas?
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque illum laudantium molestias, porro qui quibusdam quis. Dicta distinctio dolore fugiat ipsum itaque magnam nisi numquam quod, ratione recusandae rem?
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi assumenda at consequatur doloribus, eveniet harum iste perferendis quis sint voluptatem. Animi dolores doloribus eius est, maxime natus sit veniam vero!
  <h5>some text</h5>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto culpa eius facilis fugiat maxime nulla quod sunt tempore voluptas. Asperiores aspernatur eligendi molestias perspiciatis quis sapiente tenetur unde voluptates!
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, architecto consequuntur debitis dicta dolore earum esse fuga hic impedit ipsa ipsam neque quibusdam, repellendus sed voluptas voluptatibus voluptatum? Exercitationem, fugiat?
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ea eos illo ipsa non praesentium quasi qui quibusdam, quisquam sapiente? Consequatur enim esse facere obcaecati placeat provident quae quam quia.
  <h5>heading</h5>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A culpa doloremque doloribus eos est nesciunt quae, sed. Dicta dolor laborum, omnis soluta vero voluptate. Asperiores cupiditate doloribus provident reiciendis voluptas?
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque illum laudantium molestias, porro qui quibusdam quis. Dicta distinctio dolore fugiat ipsum itaque magnam nisi numquam quod, ratione recusandae rem?
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi assumenda at consequatur doloribus, eveniet harum iste perferendis quis sint voluptatem. Animi dolores doloribus eius est, maxime natus sit veniam vero!
</div>
