.page-banner{
  margin-top:-40px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 280px;
  background-size: cover;
  background-repeat: no-repeat;
}
h4, h5{
  color:rgba(5, 5, 5, 0.35);
}