<div class="card card-primary animated fadeInUp animation-delay-7">
  <div class="card-block">
    <h4 class="no-m ms-site-title mb-2">
      Corporate Office
    </h4>
    <address class="no-mb">
      <p><i class="fa fa-map-marker mr-1" aria-hidden="true"></i>
        #106 - 321 Carlwaw Avenue<br>
        <span>Toronto, ON</span><br>
        <span>M4M 2S1</span><br>
        <span>Canada</span><br>
      </p>
      <p><i class="fa fa-phone mr-1"></i>1-800-722-3155</p>
    </address>
      <h4 class="ms-site-title mt-4 mb-2">
        Training Center
      </h4>
    <address class="no-mb">
      <p><i class="fa fa-map-marker mr-1" aria-hidden="true"></i>
        573 King Street East<br>
        <span>Toronto, ON</span><br>
        <span>M5A 4L3</span><br>
        <span>Canada</span>
      </p>
    </address>
  </div>
</div>
