<div class="card card-primary animated fadeInUp animation-delay-7">
  <div class="card-block">
    <div class="text-center mb-2">
      <span class="ms-logo ms-logo-sm mr-1">T</span>
      <h3 class="no-m ms-site-title">
        Training Center
      </h3>
    </div>
    <address class="no-mb">
      <p>
        <i class="color-danger-light zmdi zmdi-pin mr-1"></i>
        573 King Street East<br>
        <span>Toronto, Ontalio</span><br>
        <span>M5A 4L3 Canada</span>
      </p>
    </address>
  </div>
</div>



<div class="card card-primary animated fadeInUp animation-delay-7">
  <div class="card-block">
    <div class="text-center mb-2">
      <span class="ms-logo ms-logo-sm mr-1">С</span>
      <h3 class="no-m ms-site-title">
        Corporate Office
      </h3>
    </div>
    <address class="no-mb">
      <p>
        <i class="color-danger-light zmdi zmdi-pin mr-1"></i>
        #106 - 321 Carlwaw Avenue<br>
        <span>Toronto, ON</span><br>
        <span>M4M 2S1</span><br>
        <span>Canada</span><br>
      </p>
      <p><i class="color-royal-light zmdi zmdi-phone mr-1"></i>1-800-722-3155</p>
    </address>
  </div>
</div>