.card{
    height: 100%;
    .card-block{
        padding: 2rem 4rem 0 4rem;
        @media screen and (max-width: 991px) {
            padding-bottom: 2rem;
        }
        h4{
            font-weight: 500;
        }
        address span {
            padding-left: 25px;
        }
    }
}
