<div class="card card-primary animated fadeInUp animation-delay-7">
  <div class="card-block">
    <h4 class="no-m ms-site-title mb-2">
      Corporate Office
    </h4>
    <address class="no-mb">
      <p class="no-pl"><i class="fa fa-map-marker"></i>#106 - 321 Carlaw Avenue</p>
      <p>Toronto, ON</p>
      <p>M4M 2S1</p>
      <p>Canada</p>
      <p class="no-pl"><i class="fa fa-phone"></i>1-800-722-3155</p>
    </address>
      <h4 class="ms-site-title mt-4 mb-2">
        Training Center
      </h4>
    <address class="no-mb">
      <p class="no-pl"><i class="fa fa-map-marker"></i>573 King Street East</p>
      <p>Toronto, ON</p>
      <p>M5A 4L3</p>
      <p>Canada</p>
    </address>
  </div>
</div>
