<div class="page-banner" style="background-image: url('../../assets/ContactBanner.jpg')">
  <div class="container text-center">
      <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg animated zoomInDown animation-delay-5">
        <span>We've Got Your Back</span>
      </h1>
  </div>
</div>
<div class="container mt-4">
  <p class="mt-2 mb-4">Can't find what you're looking for in our <a target="_blank" href="www.help.dtsfitnesseducation.com "><strong>Help Centre</strong></a>? Get in touch with our friendly customer support team.</p>
  <div class="contact-content-wrapper">
    <div class="form-wrapper">
      <app-contact-us-form></app-contact-us-form>
    </div>
    <div class="contacts-wrapper ml-6">
      <app-contacts></app-contacts>
    </div>
  </div>
</div>
<div class="map mt-4" #mapElement></div>
