<div class="page-banner" style="background-image: url('../../assets/TeamBanner.jpg')">
  <div class="container text-center">
      <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">We've Got Your Back</h1>
  </div>
</div>
<div class="container mt-4">
  <p class="mt-2 mb-4">Can't find what you're looking for in our <a target="_blank" href="www.help.dtsfitnesseducation.com "><strong>Help Centre</strong></a>? Get in touch with our friendly customer support team.</p>
  <div class="contact-content-wrapper">
    <div class="form-wrapper">
      <app-contact-us-form></app-contact-us-form>
    </div>
    <div class="contacts-wrapper ml-6">
      <app-contacts></app-contacts>
    </div>
  </div>
</div>
<div class="map mt-4" #mapElement></div>
<!--<agm-map class="mt-4" appMarkerLabel [latitude]="43.6560627" [longitude]="-79.3571312" [zoom]="16">-->
  <!--<agm-marker [latitude]="43.6560627"  [longitude]="-79.3571312" [label]="'573 King Street East'">-->
    <!--<agm-info-window [disableAutoPan]="true" [isOpen]="true">-->
      <!--<div class="info-window-shrek"> Hi, this is the content of the <strong>info window</strong></div>-->
    <!--</agm-info-window>-->
  <!--</agm-marker>-->
<!--</agm-map>-->