
.contact-content-wrapper{
  display: flex;
  align-items: stretch;
  @media screen and (max-width: 991px) {
    flex-direction: column;
  }
    .form-wrapper{
      flex: 1 auto;
    }
    .contacts-wrapper{
      flex-basis: 33%;
      @media screen and (max-width: 991px) {
        flex-basis: inherit;
        margin-left: 0 !important;
        margin-top: 4rem;
      }
    }
}
.map{
  height: 250px;
  position: relative;
  display: block;
  margin-bottom: -4rem;
}