.page-banner{
  margin-top:-40px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 280px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.contact-content-wrapper{
  display: flex;
  align-items: stretch;

}
agm-map{
  height: 250px;
  position: relative;
  display: block;
  margin-bottom: -4rem;
}