<div class="form-banner filters-section">
  <div class="container form-container">
    <div class="container text-center">
      <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg animated zoomInDown animation-delay-5">
        <span>Find your next learning experience</span>
      </h1>
    </div>
    <div class="wrapper-courses-filter">
      <div class="select-wrapper">
          <paper-dropdown-menu
                  label="Category"
                  class="custom filter filter-category selectpicker">
              <paper-listbox
                      slot="dropdown-content"
                      id="category-listbox"
                      class="custom"
                      attr-for-selected="value"
                      (iron-select)="changeCategory($event['detail'].item.value); filterCourses();fhideText();"
                      name="category-select"
                      emitChanges
                      ironControl>
                  <paper-item [value]="null">All</paper-item>
                  <paper-item *ngFor="let category of categoriesListData" [value]="category?.id">{{ category?.name }}</paper-item>
              </paper-listbox>
          </paper-dropdown-menu>
      </div>
      <div class="select-wrapper">
          <paper-dropdown-menu
                  label="Course"
                  class="custom filter filter-course selectpicker">
              <paper-listbox
                      slot="dropdown-content"
                      id="courses-listbox"
                      class="custom"
                      attr-for-selected="value"
                      (iron-select)="changeCourse($event['detail'].item.value);filterCourses();fhideText();"
                      name="course-select"
                      emitChanges
                      ironControl>
                  <paper-item [value]="null">All</paper-item>
                  <paper-item *ngFor="let course of filtersCoursesData" [value]="course?.id">{{  course?.name }}</paper-item>
              </paper-listbox>
          </paper-dropdown-menu>
      </div>
      <div class="select-wrapper">
          <paper-dropdown-menu
                  label="Location"
                  class="custom filter filter-location selectpicker">
              <paper-listbox
                      slot="dropdown-content"
                      id="locations-listbox"
                      class="custom"
                      attr-for-selected="value"
                      (iron-select)="changeLocation($event['detail'].item.value);filterCourses();fhideText();"
                      name="location-select"
                      emitChanges
                      ironControl>
                  <paper-item [value]="null">All</paper-item>
                  <paper-item *ngFor="let location of filtersLocationsData" [value]="location?.id">{{ location?.name }}</paper-item>
              </paper-listbox>
          </paper-dropdown-menu>
      </div>
    </div>
  </div>
</div>