$select-background-color: transparent;
$select-border-color: #ffffff;
$select-font-size: 20px;
$select-color: #ffffff;
$select-padding: 4px;
.filters-section {
    height: 350px;
    background-image: url('../../../assets/LearnInClassBanner.jpg');
    background-size: cover;
    background-position: 100%, 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
        h1 {
            span{
                font-weight:bold;
            }
        }
}

.wrapper-courses-filter-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    widows: 100%;
}

.wrapper-courses-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    margin-top: 30px;
}

.form-container legend {
    font-size: 36px;
    color: #FFF;
    font-weight: 500;
    margin-bottom: 70px
}

@media screen and (max-width: 992px) {
    .wrapper-courses-filter {
        flex-direction: column;
        .filter {
            margin: 15px 0;
            min-width: 280px;
            &:nth-child(2) {
                min-width: 280px;
            }
        }
    }
    .form-container legend {
        margin-bottom: 0px;
        line-height: 38px;
    }   
}
@media screen and (max-width: 600px) {
    .wrapper-courses-filter {
        margin-top:0;
    }
}
.wrapper-courses-filter{
    .select-wrapper{
        position: relative;
        //&:after {
        //    position: absolute;
        //    top: 0.75em;
        //    right: 0.5em;
        //    /* Styling the down arrow */
        //    width: 0;
        //    height: 0;
        //    padding: 0;
        //    content: '';
        //    border-left: .25em solid transparent;
        //    border-right: .25em solid transparent;
        //    border-top: .375em solid $select-border-color;
        //    pointer-events: none;
        //}
        select {
            font-family: inherit;
            background-color: transparent;
            padding: $select-padding 0;
            font-size: $select-font-size;
            color: $select-color;
            border: none;
            border-bottom: 1px solid $select-border-color;
            position: relative;
            height: 38px;
            min-width: 235px;
            width:auto;
            appereance: none;
            &:invalid {
                color: #ffffff;
                font-size: 16px;
            }
            &:nth-child(2) {
                min-width: 340px;
            }
            &:focus {
                outline: none;
            }
            option{
                color: #757575;
                height: 45px;
                margin:15px 0;
                padding:15px 0;
                display: block;
                font-size: 16px;
                line-height: 2;
                &:hover{
                    background: rgba(0, 0, 0, .04);
                }

            }
        }
    }
}



