.filters-section {
    height: 350px;
    background-image: url('../../../assets/LearnInClassBanner.jpg');
    background-size: cover;
    background-position: 100%, 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
        h1 {
            span{
                font-weight:bold;
            }
        }
}

.wrapper-courses-filter-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    widows: 100%;
}

.wrapper-courses-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    margin-top: 30px;
}

.form-container legend {
    font-size: 36px;
    color: #FFF;
    font-weight: 500;
    margin-bottom: 70px
}

@media screen and (max-width: 992px) {
    .wrapper-courses-filter {
        flex-direction: column;
        .filter {
            margin: 15px 0;
            min-width: 280px;
            &:nth-child(2) {
                min-width: 280px;
                flex:1 auto;
            }
        }
    }
    .form-container legend {
        margin-bottom: 0px;
        line-height: 38px;
    }   
}
@media screen and (max-width: 600px) {
    .wrapper-courses-filter {
        margin-top:0;
    }
}
.wrapper-courses-filter{
    .select-wrapper{
        position: relative;
        min-width: 280px;
        &:nth-child(2) {
            flex:1 auto;
        }
    }
}



