<div class="ms-hero-page-override ms-hero-img-city ms-hero-bg-primary">
  <div class="container">
    <div class="text-center">
      <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">
        <!--<span>Privacy and Security Statement</span>-->
      </h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="card card-hero animated slideInUp animation-delay-8 mb-6">
    <div class="card-block">
      <div class="row">
        <div class="wrapper-courses-filter-block">
         <h3 class="title-find-courses">Find your next learning experience</h3>
         <div class="wrapper-courses-filter">
          <md-select class="filter filter-category" placeholder="Category">
            <md-option>
              Category 1
            </md-option>
            <md-option>
              Category 2
            </md-option>
            <md-option>
              Category 3
            </md-option>
            <md-option>
              Category 4
            </md-option>
            <md-option>
              Category 5
            </md-option>
          </md-select>

          <md-select class="filter filter-course" placeholder="Course">
            <md-option>
              Course 1
            </md-option>
            <md-option>
              Course 2
            </md-option>
            <md-option>
              Course 3
            </md-option>
            <md-option>
              Course 4
            </md-option>
            <md-option>
              Course 5
            </md-option>
          </md-select>

          <md-select class="filter filter-city" placeholder="City">
            <md-option>
              City 1
            </md-option>
            <md-option>
              City 2
            </md-option>
            <md-option>
              City 3
            </md-option>
            <md-option>
              City 4
            </md-option>
            <md-option>
              City 5
            </md-option>
          </md-select>

         </div>
        </div>
      </div>
    </div>
  </div>
</div>
