<!--<paper-dropdown-menu label="Dinosaurs" >-->
    <!--<paper-listbox id="listbox" slot="dropdown-content" attr-for-selected="value">-->
        <!--<paper-item value="2" label="alls">allosaurus</paper-item>-->
        <!--<paper-item value="3" label="bron">brontosaurus</paper-item>-->
        <!--<paper-item value="4" label="char">carcharodontosaurus</paper-item>-->
        <!--<paper-item value="5" label="dipl">diplodocus</paper-item>-->
    <!--</paper-listbox>-->
<!--</paper-dropdown-menu>-->
<div class="form-banner filters-section">
  <div class="container form-container">
    <div class="container text-center">
      <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg animated zoomInDown animation-delay-5">
        <span>Find your next learning experience</span>
      </h1>
    </div>
    <div class="wrapper-courses-filter">
      <div class="select-wrapper">
        <select
                class="filter filter-category selectpicker"
                [(ngModel)]="categoryId"
                (ngModelChange)="changeCategory(categoryId); filterCourses()"
                (change)="fhideText()"
        >
            <option value="" disabled style="display: none">Category</option>
            <option [value]="null">
              All
            </option>
            <option *ngFor="let category of categoriesListData" [value]="category?.id">
              {{ category?.name }}
            </option>
        </select>
      </div>
      <div class="select-wrapper">
        <select
                class="filter filter-course"
                [(ngModel)]="courseId"
                (ngModelChange)="filterCourses()"
                (change)="fhideText()"
        >
            <option value="" disabled style="display: none">Course</option>
            <option [value]="null">
              All
            </option>
            <option *ngFor="let course of filtersCoursesData" [value]="course?.id">
              {{ course?.name }}
            </option>
        </select>
      </div>
      <div class="select-wrapper">
        <select
          class="filter filter-city"
          [(ngModel)]="locationId"
          (ngModelChange)="filterCourses()"
          (change)="fhideText()"
        >
            <option value="" disabled style="display: none">Location</option>
            <option [value]="null">
              All
            </option>
            <option *ngFor="let location of filtersLocationsData" [value]="location?.id">
              {{ location?.name }}
            </option>
        </select>
      </div>
    </div>
  </div>
</div>