.alert{
  position: fixed;
  top:50px;
  left:0;
  width:100%;
}
.page-wrapper{
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.page-banner{
  margin-top:-40px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 280px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.important-info i{
  color: #EB8C00;
}
h4{
  font-weight: 500;
}
ul{
  list-style: none;
}
.receipt-form{
  display: flex;
  width:415px;
  margin:0 auto;
  @media screen and (max-width: 480px) {
    flex-direction: column;
    width:80%;
  }
  md-input-container{
    flex:1 auto;
  }
  button{
    flex-basis: 150px;
    height: 36px;
    @media screen and (max-width: 480px) {
      flex-basis: auto;
    }
  }
}
