.page-wrapper{
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.important-info i{
  color: #EB8C00;
}
h4{
  font-weight: 500;
}
ul{
  list-style: none;
}
.receipt-form{
  display: flex;
  width:415px;
  margin:0 auto;
  @media screen and (max-width: 480px) {
    flex-direction: column;
    width:80%;
  }
  md-input-container{
    flex:1 auto;
  }
  button{
    flex-basis: 150px;
    height: 36px;
    @media screen and (max-width: 480px) {
      flex-basis: auto;
    }
  }
  button:disabled{
    background-color: #EB8C00;
    color: rgba(255,255,255, 0.84);
  }
}
