h3, h4, h5, .dropcaps::first-letter{
  color:rgba(5, 5, 5, 0.35);
}
.team-member-wrapper{
   &:nth-child(odd){
     background-color: #ffffff;
   }
   .team-member-card{
     display: flex;
     align-items: flex-start;
     @media screen and (max-width: 600px) {
       flex-direction: column;
     }
     .img-avatar-circle {
       min-width: 120px;
       transform: translateY(0) rotate(0deg);
       &:hover{
         transform: translateY(0) rotate(360deg);
       }
       @media screen and (max-width: 600px) {
         margin-bottom: 25px;
       }
     }
     div{
       padding-left:40px;
       .member-name{
         color:rgba(5, 5, 5, 0.35);
         font-size: 20px;
         margin-right: 10px;
       }
       @media screen and (max-width: 600px) {
         padding-left:10px;
         padding-right:10px;
       }
     }

   }
 }
