<div class="ms-hero-page-override ms-hero-img-team ms-hero-bg-primary">
	<div class="container">
		<div class="text-center">
			<h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Our Team</h1>
			<p class="lead lead-lg color-medium text-center center-block mt-2 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">These are
				<span class="colorStar">the professionals</span> who, every day, make progress
				<span class="colorStar">the projects of our clients</span>.</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<app-team-item></app-team-item>			
		</div>
	</div>

