<div class="page-banner"  style="background-image: url('../../assets/TeamBanner.jpg')">
	<div class="container">
		<div class="text-center">
			<h1 class="no-m ms-site-title color-white center-block ms-site-title-lg animated zoomInDown animation-delay-5">
				<span>Who We Are</span>
			</h1>
		</div>
	</div>
</div>
<div class="container">
	<div class="animated slideInUp animation-delay-8 mb-6">
		<div class="row">
			<div class="col-md-6 text-justify">
				<h2 class="color-primary">Our Story</h2>
				<p class="dropcaps">DTS Fitness Education was founded on a simple concept - deliver quality and highly practical education to personal trainers, strength coaches, and other industry professionals.<br>
				Over the years, we have grown into a collective of passionate, award-winning instructors and support staff dedicated to helping students further their fitness education.<br>
					With over 15 different course offerings and thousands of highly satisfied graduates, we are reshaping fitness education in Canada and across the world.<br></p>
			</div>
			<div class="col-md-6 text-justify">
				<h2 class="color-primary">What We Believe</h2>
				<p class="dropcaps">At the core of everything we do is a belief that knowledge is only powerful when applied.<br>
				In times of overabundance of information in an industry filled with “gurus” and “experts”, DTS Fitness Education stands apart. We measure our success by our students’ ability to confidently apply what they learned in class to improve their clients’ results. We take pride in delivering an extraordinary, practical learning experience coupled with a systematic approach to teaching.<br>
				As a company, we are driven by our mission of “longevity and pain-free movement” for everyone.<br></p>
			</div>
		</div>
	</div>
</div>
<div class=" mt-6 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
		<h3 class="text-center fw-500 mb-4">Our Team</h3>
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="card card-flat card-danger wow zoomInUp" style="visibility: visible; animation-name: zoomInUp;">
					<div class="ms-hero-bg-danger ms-hero-img-city">
						<img src="assets/img/demo/avatar1.jpg" alt="..." class="img-avatar-circle"> </div>
					<div class="card-block pt-6 text-center">
						<h3 class="color-danger">Victoria Smith</h3>
						<p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
						<a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook">
							<i class="zmdi zmdi-facebook"></i>
						</a>
						<a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter">
							<i class="zmdi zmdi-twitter"></i>
						</a>
						<a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram">
							<i class="zmdi zmdi-instagram"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="card card-flat card-info wow zoomInUp" style="visibility: visible; animation-name: zoomInUp;">
					<div class="ms-hero-bg-info ms-hero-img-city">
						<img src="assets/img/demo/avatar2.jpg" alt="..." class="img-avatar-circle"> </div>
					<div class="card-block pt-6 text-center">
						<h3 class="color-info">Charlie Durant</h3>
						<p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
						<a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook">
							<i class="zmdi zmdi-facebook"></i>
						</a>
						<a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter">
							<i class="zmdi zmdi-twitter"></i>
						</a>
						<a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram">
							<i class="zmdi zmdi-instagram"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="card card-flat card-warning wow zoomInUp" style="visibility: visible; animation-name: zoomInUp;">
					<div class="ms-hero-bg-warning ms-hero-img-city">
						<img src="assets/img/demo/avatar3.jpg" alt="..." class="img-avatar-circle"> </div>
					<div class="card-block pt-6 text-center">
						<h3 class="color-warning">Joan Fawert</h3>
						<p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
						<a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook">
							<i class="zmdi zmdi-facebook"></i>
						</a>
						<a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter">
							<i class="zmdi zmdi-twitter"></i>
						</a>
						<a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram">
							<i class="zmdi zmdi-instagram"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
</div>
