<div class="intro-full ms-hero-bg-primary color-white" id="home" style="background-image:url('../../../assets/HomePageBgBlurred.jpg')">
  <div class="intro-full-content index-1">
    <div class="container">
      <div class="text-center mb-4">
        <h1 class="">KNOWLEDGE</h1>
        <h1 class="">APPLIED</h1>
        <div class="buttons-row">
          <div class="buttons-row-element">
            <a class="btn btn-raised btn-primary app-btn-ripple" [routerLink]="learn-in-class">Learn in Class</a>
            <p>Attend live courses</p>
          </div>
          <div class="buttons-row-element">
            <a class="btn btn-raised btn-primary app-btn-ripple" href="https://www.thinkific.com">Learn Online</a>
            <p>Learn at your own pace</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container logos-container ">
    <ul class="logos-box">
      <li class="img-logo-square" style="background-image: url('../../../assets/partnersLogos/fitness.svg');"><a href="#"></a></li>
      <li class="img-logo-square" style="background-image: url('../../../assets/partnersLogos/fortis.svg');"><a href="#"></a></li>
      <li class="img-logo-square" style="background-image: url('../../../assets/partnersLogos/goodlifefitness.svg');"><a href="#"></a></li>
      <li class="img-logo-square" style="background-image: url('../../../assets/partnersLogos/movati.svg');"><a href="#"></a></li>
      <li class="img-logo-square" style="background-image: url('../../../assets/partnersLogos/Y.svg');"><a href="#"></a></li>
      <li class="img-logo-square" style="background-image: url('../../../assets/partnersLogos/truefitness.svg');"><a href="#"></a></li>
      <li class="img-logo-square" style="background-image: url('../../../assets/partnersLogos/fitness.svg');"><a href="#"></a></li>
    </ul>
  </div>
</div>
<div class="container text-container intro-full-next panel">
  <h3 class="section-title">Invest in your fitness education with confidence</h3>
  <div class="text-list-block">
    <ul>
      <li>Practical information that can be applied right away to improve results</li>
      <li>Team of industry leading,awards winning instructors</li>
      <li>Nationally Recognized continuing education credits(CECs)</li>
      <li>Completion certificates</li>
      <li>Structured approach to learning and application</li>
      <li>Proprietary 7 stops system</li>
    </ul>
    <ul>
      <li>24/7 online access to your pre- and post- course materials</li>
      <li>Payment plans to help you get started for less</li>
      <li>Prompt and professional support when you need it</li>
      <li>On demand online courses</li>
    </ul>
  </div>
  <h3 class="section-title">What Our Students Say</h3>
</div>
<div class="form-banner">
  <div class="container form-container">
    <legend>Love Learning? &#123; <span class="text-in-braces">Monthly educational content</span> &#125;</legend>
    <form [formGroup]="subscribeForm" (ngSubmit)="formSubmit($event)" (keydown)="keyDownFunction($event)">
        <div class="form-group">
          <input type="text" class="form-control"  formControlName="name" placeholder="Name">
        </div>
        <div class="form-group">
          <input type="email" class="form-control"  formControlName="email" placeholder="Email">
        </div>
        <div class="form-group">
          <button  class="btn app-btn-ripple btn-raised btn-primary" [disabled]="subscribeForm.invalid" type="submit">Count me in!</button>
        </div>
    </form>
  </div>
</div>



