<div class="landing-banner color-white" id="home" style="background-image:url('../../../assets/HomePageBgBlurred.jpg')">
  <div class="container empty-placeholder"></div>
  <div class="container banner-content">
      <div class="text-center mb-4">
        <h1 class="">KNOWLEDGE APPLIED</h1>
        <div class="buttons-row">
          <div class="buttons-row-element">
            <a class="btn btn-raised btn-primary" md-button routerLink="/learn-in-class">Learn in Class</a>
            <p>Attend live courses</p>
          </div>
          <div class="buttons-row-element">
            <a class="btn btn-raised btn-primary" md-button href="https://www.thinkific.com">Learn Online</a>
            <p>Learn at your own pace</p>
          </div>
        </div>
      </div>
    </div>
  <div class="container logos-container ">
    <ul class="logos-box">
      <li class="img-logo-square" style="background-image: url('../../../assets/partnersLogos/truefitness.svg');"></li>
      <li class="img-logo-square" style="background-image: url('../../../assets/partnersLogos/movati.svg');"></li>
      <li class="img-logo-square" style="background-image: url('../../../assets/partnersLogos/goodlifefitness.svg');"></li>
      <li class="img-logo-square" style="background-image: url('../../../assets/partnersLogos/Y.svg');"></li>
      <li class="img-logo-square" style="background-image: url('../../../assets/partnersLogos/goodlifefitness.svg');"></li>
      <li class="img-logo-square" style="background-image: url('../../../assets/partnersLogos/movati.svg');"></li>
      <li class="img-logo-square" style="background-image: url('../../../assets/partnersLogos/fortis.svg');"></li>
    </ul>
  </div>
</div>
<div class="container text-container intro-full-next">
  <h3  class="text-center mb-4">Invest in Your Fitness Education with Confidence</h3>
  <div class="row">
    <div class="col-md-4 col-sm-6 mb-2">
      <div class="ms-icon-feature wow flipInX animation-delay-4" style="visibility: visible; animation-name: flipInX;">
        <div class="ms-icon-feature-icon">
                  <span class="ms-icon ms-icon-lg ms-icon-inverse">
                    <i class="fa fa-cog"></i>
                  </span>
        </div>
        <div class="ms-icon-feature-content">
          <p>A <strong>proven system</strong> to deliver <strong>practical</strong> fitness education.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 mb-2">
      <div class="ms-icon-feature wow flipInX animation-delay-4" style="visibility: visible; animation-name: flipInX;">
        <div class="ms-icon-feature-icon">
                  <span class="ms-icon ms-icon-lg ms-icon-inverse">
                    <i class="fa fa-trophy"></i>
                  </span>
        </div>
        <div class="ms-icon-feature-content">
          <p>Team of <strong>industry-leading</strong> and <strong>award-winning</strong> instructors.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 mb-2">
      <div class="ms-icon-feature wow flipInX animation-delay-4" style="visibility: visible; animation-name: flipInX;">
        <div class="ms-icon-feature-icon">
                  <span class="ms-icon ms-icon-lg ms-icon-inverse">
                    <i class="fa fa-check"></i>
                  </span>
        </div>
        <div class="ms-icon-feature-content">
          <p>Nationally recognized <strong>Continuing Education Credits (CECs).</strong></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 mb-2">
      <div class="ms-icon-feature wow flipInX animation-delay-4" style="visibility: visible; animation-name: flipInX;">
        <div class="ms-icon-feature-icon">
                  <span class="ms-icon ms-icon-lg ms-icon-inverse">
                    <i class="fa fa-graduation-cap"></i>
                  </span>
        </div>
        <div class="ms-icon-feature-content">
          <p><strong>Certificates of completion</strong> upon meeting testing standards.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 mb-2">
      <div class="ms-icon-feature wow flipInX animation-delay-4" style="visibility: visible; animation-name: flipInX;">
        <div class="ms-icon-feature-icon">
                  <span class="ms-icon ms-icon-lg ms-icon-inverse">
                    <i class="fa fa-desktop"></i>
                  </span>
        </div>
        <div class="ms-icon-feature-content">
          <p><strong>24/7 Online access</strong> to your <strong>pre- and post-course</strong> materials.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 mb-2">
      <div class="ms-icon-feature wow flipInX animation-delay-4" style="visibility: visible; animation-name: flipInX;">
        <div class="ms-icon-feature-icon">
                  <span class="ms-icon ms-icon-lg ms-icon-inverse">
                    <i class="fa fa-dollar"></i>
                  </span>
        </div>
        <div class="ms-icon-feature-content">
          <p><strong>Payment plans</strong> to help you get started for less.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form-banner">
  <div class="container form-container">
    <legend class="text-center">Practical educational content in your inbox</legend>




    <form accept-charset="UTF-8" action="https://vl355.infusionsoft.com/app/form/process/8786052e6d747e1c43f5503af7139669" class="subscribe-form infusion-form" method="POST">
          <input name="inf_form_xid" type="hidden" value="8786052e6d747e1c43f5503af7139669" />
          <input name="inf_form_name" type="hidden" value="Newsletter Sign Up" />
          <input name="infusionsoft_version" type="hidden" value="1.65.0.68" />
          <md-input-container>
            <input mdInput id="inf_field_FirstName" name="inf_field_FirstName" type="text" placeholder="Name">
          </md-input-container>
          <md-input-container>
            <input mdInput id="inf_field_Email" name="inf_field_Email" type="text" placeholder="Email">
          </md-input-container>
          <button  class="btn btn-raised btn-primary" md-button type="submit"><i class="fa fa-envelope"></i> Count me in!</button>




      <!---->
      <!--    <div class="infusion-field">-->
      <!--        <label for="inf_field_FirstName">First Name *</label>-->
      <!--        <input class="infusion-field-input-container" id="inf_field_FirstName" name="inf_field_FirstName" type="text" />-->
      <!--    </div>-->
      <!--    <div class="infusion-field">-->
      <!--        <label for="inf_field_Email">Email Address *</label>-->
      <!--        <input class="infusion-field-input-container" id="inf_field_Email" name="inf_field_Email" type="text" />-->
      <!--    </div>-->
      <!--    <div class="infusion-submit">-->
      <!--        <input type="submit" value="COUNT ME IN!" />-->
      <!--    </div>-->
    </form>
    <script type="text/javascript" src="https://vl355.infusionsoft.com/app/webTracking/getTrackingCode"></script>
  </div>
</div>



