@keyframes pseudoScale{
  0% {
    transform: scale(0,0);

  }
  100% {
    transform: scale(1,1);
  }
}
.intro-full{
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &:after{
    background-color: transparent;
  }
  h1{
    font-size: 8em;
    font-weight: bold;
    margin:0;
    @media screen and (max-width: 768px) {
      font-size: 6em;
    }
    @media screen and (max-width: 600px) {
      font-size: 4em;
    }
    @media screen and (max-width: 480px) {
      font-size: 3em;
    }
  }
}
.buttons-row{
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top:50px;
  @media screen and (max-width: 480px) {
    flex-direction: column;
    margin-top:10px;
    align-items: center;
  }
  .buttons-row-element{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    a{
      min-width:200px;
      background-color: #EB8C00;
      font-size: 1.1em;
      font-weight: 400;
      padding: 1em 2em;
      margin:0 25px;
    }
    p{
      max-width: 200px;
      font-size: 1.1em;
      text-align: center;
      margin-top: 10px;
      font-weight: 300;
    }
  }
}
.logos-container{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  padding: 0 0 50px 0;
  margin-bottom: 0;
  @media screen and (max-width:991px){
    flex-direction: column;
  }
    .logos-box{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex: 1 auto;
      padding:0;
      margin:0;
      width:100%;
      list-style: none;
      @media screen and (max-width:768px){
        flex-wrap: wrap;
        justify-content: center;
      }
        .img-logo-square {
          width: 100px;
          height: 50px;
          background-repeat: no-repeat;
          transform: translateY(0);
          @media screen and (max-width:768px){
            margin:5px;
          }
        }
    }
}

.form-banner{
  padding: 40px 0;
  background-color: #EB8C00;
  legend{
    color: #fff;
  }
  form{
    display: flex;
    @media screen and (max-width:768px){
      flex-direction: column;
    }
    .form-group{
      flex: 1 auto;
      padding-right: 15px;
      button,input{
        color: #fff;
      }
    }
  }

}

.text-container{
  padding-top: 30px;
  padding-bottom: 15px;
  margin-bottom: 0;
    h3{
      margin: 30px 0 10px;
    }
    .text-list-block{
      display: flex;
      align-items: baseline;
      @media screen and (max-width:768px){
        flex-direction: column;
      }
        ul{
          list-style: inherit;
          flex-basis: 50%;
            li{
              line-height: 2;
            }
        }
    }
}
