@keyframes pseudoScale{
  0% {
    transform: scale(0,0);

  }
  100% {
    transform: scale(1,1);
  }
}
.landing-banner{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &:after{
    background-color: transparent;
  }
  .empty-placeholder{
    min-height: 50px;
  }
  .banner-content{
    @media screen and (max-width: 768px) {
      padding-top: 10px;
    }
    h1{
      font-size: 9em;
      font-weight: bold;
      color: #f2f2f2;
      line-height: 0.8;
      margin:0;
      @media screen and (max-width: 1200px) {
        font-size: 6em;
      }
      @media screen and (max-width: 768px) {
        font-size: 3em;
      }
      @media screen and (max-width: 480px) {
        font-size: 2.5em;
      }
    }
  }
}
.buttons-row{
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top:50px;
  @media screen and (max-width: 1200px) {
    margin-top:20px;
  }
  @media screen and (max-width: 520px) {
    flex-direction: column;
    margin-top:10px;
    align-items: center;
  }
  .buttons-row-element{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    a{
      min-width:200px;
      background-color: #EB8C00;
      font-size: 1.1em;
      padding: 1em;
      margin: 0 25px;
      font-weight: 600;
      color: #ffffff;
      @media screen and (max-width:768px){
        padding: 0;
      }
    }
    p{
      max-width: 200px;
      font-size: 1.1em;
      text-align: center;
      margin-top: 10px;
      font-weight: 300;
    }
  }
}
.logos-container{
  background-color: transparent;
  padding: 0 0 50px 0;
  margin-bottom: 0;
  @media screen and (max-width:991px){
    flex-direction: column;
  }
  @media screen and (max-width:768px){
    padding: 0 0 10px 0;
  }
    .logos-box{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex: 1 auto;
      padding:0;
      margin:0;
      width:100%;
      list-style: none;
      @media screen and (max-width:768px){
        flex-wrap: wrap;
        justify-content: center;
      }
        .img-logo-square {
          width: 120px;
          height: 70px;
          background-repeat: no-repeat;
          transform: translateY(0);
          @media screen and (max-width:768px){
            margin:5px;
            width: 80px;
            height: 40px;
          }
        }
    }
}

.form-banner{
  padding: 40px 0;
  background-color: #EB8C00;
  legend{
    color: #fff;
  }
  form.subscribe-form{
    display: flex;
    color: #ffffff;
    @media screen and (max-width:768px){
      flex-direction: column;
    }
    .mat-input-container{
      flex: 1 auto;
      margin-right: 15px;
      margin-left:15px;
    }
    button{
      border: solid 1px #fff;
      color: #fff;
      flex: 1 auto;
      i{
        margin-top: -4px
      }
    }
  }

}

.text-container{
  padding-top: 30px;
  padding-bottom: 15px;
  margin-bottom: 0;
    h3{
      margin: 30px 0 10px;
    }
    .ms-icon-feature {
      margin-bottom: 10px;
      .ms-icon.ms-icon-inverse {
        background-color: transparent;
        color: rgb(117,117,117);
        border: solid 1px rgb(117,117,117);
      }
    }
}
