<div class="ms-thumbnail-container">
  <figure class="ms-thumbnail ms-thumbnail-center" style="background-image:url(../../../assets/img/back_mountain.jpg)">
   <figcaption class="ms-thumbnail-caption text-center">
      <div class="ms-thumbnail-caption-content banner-container">
        <h3 class="ms-thumbnail-caption-title">Practical education for the fitness minded individual and professional</h3>
        <div class="buttons-row">
          <div class="buttons-row-element">
            <a class="btn btn-raised btn-primary" routerLink=".">Learn in Class</a>
            <p>Attend live courses and workshops</p>
          </div>
          <div class="buttons-row-element">
            <a class="btn btn-raised btn-primary" href="https://www.thinkific.com">Learn Online</a>
            <p>Learn at your ouwn pace,with tour own schedule</p>
          </div>
        </div>
      </div>
   </figcaption>
  </figure>
</div>

<div class="container logos-container">
  <span class="logos-text">Proudly supporting the industry leaders</span>
  <ul class="logos-box">
    <li class="img-logo-square" style="background-image: url('../../../assets/img/demo/m1.png');"><a href="#"></a></li>
    <li class="img-logo-square" style="background-image: url('../../../assets/img/demo/m2.png');"><a href="#"></a></li>
    <li class="img-logo-square" style="background-image: url('../../../assets/img/demo/m3.png');"><a href="#"></a></li>
    <li class="img-logo-square" style="background-image: url('../../../assets/img/demo/m4.png');"><a href="#"></a></li>
    <li class="img-logo-square" style="background-image: url('../../../assets/img/demo/m1.png');"><a href="#"></a></li>
    <li class="img-logo-square" style="background-image: url('../../../assets/img/demo/m2.png');"><a href="#"></a></li>
    <li class="img-logo-square" style="background-image: url('../../../assets/img/demo/m3.png');"><a href="#"></a></li>
  </ul>
</div>

<div class="form-banner">
  <div class="container form-container">
    <h3>Love Learning? &#123; <span class="text-in-braces">Monthly educational content</span> &#125;</h3>
    <form [formGroup]="subscribeForm" (ngSubmit)="formSubmit($event)">
        <fieldset>
          <div class="form-group">
            <input type="text" class="form-control"  formControlName="name" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control"  formControlName="email" placeholder="Email">
          </div>
          <button  class="btn btn-raised btn-primary" [disabled]="subscribeForm.invalid" type="submit">Count me in!</button>
        </fieldset>
    </form>
  </div>
</div>

<div class="container text-container">
  <h3>Invest in your fitness education with confidence</h3>
  <div class="text-list-block">
    <ul>
      <li>Practical information that can be applied right away to improve results</li>
      <li>Team of industry leading,awards winning instructors</li>
      <li>Nationally Recognized continuing education credits(CECs)</li>
      <li>Completion certificates</li>
      <li>Structured approach to learning and application</li>
      <li>Proprietary 7 stops system</li>
    </ul>
    <ul>
      <li>24/7 online access to your pre- and post- course materials</li>
      <li>Payment plans to help you get started for less</li>
      <li>Prompt and professional support when you need it</li>
      <li>On demand online courses</li>
    </ul>
  </div>
  <h3>What Our Students Say</h3>
</div>

