
<div class="container">
    <div class="card card-primary col-md-offset-9 col-md-3">
        <div class="card-block">
            <a href="#" class="btn btn-raised btn-primary app-btn-ripple register-button">Register now</a>
            <div class="info-block">
                <div class="option">
                    <h4><strong>Early Bird</strong></h4>
                    <h4><strong>{{data.price_early|currency:'USD':true}}</strong></h4>
                </div>
                <div class="sports">{{data.sports_early}} spaces Left</div>
                <div class="option">
                    <h4><strong>Regular</strong></h4>
                    <h4><strong>{{data.price_regular|currency:'USD':true}}</strong></h4>
                </div>
                <div class="sports">{{data.sports_regular}} spaces left</div>
                <div class="text">You can to take advantage of our no-interest Payment Plan and get started for only $350 down.</div>
            </div>
            <h5>Share With Friends</h5>
            <div class="social-block">
                <div class="addthis_inline_share_toolbox_gg8p"></div>
            </div>
        </div>
    </div>
</div>

