<div class="card card-primary">
    <div class="card-block mb-2">
        <a (click)="goToCheckout()" class="btn btn-raised btn-primary app-btn-ripple register-button mt-2 mb-2">Register now</a>
        <div class="info-block">
            <div class="option">
                <h5>Early Bird</h5>
                <h5>{{data?.price_early|currency:'USD':true}}</h5>
            </div>
            <div class="option pb-2">
                <h5>registration</h5>
                <h5 class="color-primary">{{cardContentEarly}}</h5>
            </div>
            <div class="option">
                <h5>Regular</h5>
                <h5>{{data?.price_regular|currency:'USD':true}}</h5>
            </div>
            <div class="option pb-2">
                <h5>registration</h5>
                <h5 class="color-primary">{{cardContentRegular}}</h5>
            </div>
            <div class="text pb-2" *ngIf="data?.allow_partial_payment">You can to take advantage of our no-interest Payment Plan and get started for only {{data?.deposit|currency:'USD':true}} down.</div>
        </div>
    </div>
    <div class="social-block pt-2">
        <h5>Share With Friends</h5>
        <div class="addthis_inline_share_toolbox_gg8p pt-2 pb-2"></div>
    </div>
</div>


