.card{
  padding: 0;
  .card-block{
    padding: 2rem 4rem 0 4rem;
    text-align: center;

    .register-button{
      width:100%;
      box-shadow: none;
    }
    .option{
      display: flex;
      justify-content: space-between;
      align-items: center;
      h5{
        line-height: 1;
        margin:5px 0;
      }
    }
    .text{
      line-height: 1.3;
      max-width: 95%;
      text-align: justify;
      margin: 0 auto;
    }
  }
  .social-block{
    border-top: solid 2px rgba(78, 78, 78, 0.35);
    text-align: center;
  }
}
