<div class="class-page-wrapper">
    <div class="page-banner" [style.background-image]="'url(' + data?.image_url + ')'">
        <h3 class="">{{data?.name}}</h3>
        <div class="class-details">
            <p><i class="zmdi zmdi-calendar"></i> {{data?.details1}}</p>
            <p><i class="zmdi zmdi-nature"></i> {{data?.location}}</p>
            <p><i class="zmdi zmdi-alarm"></i> {{data?.details2}}</p>
        </div>
    </div>
    <div id="sticky-element">
        <p><i class="zmdi zmdi-calendar"></i> {{data?.details1}}</p>
        <p><i class="zmdi zmdi-nature"></i> {{data?.location}}</p>
        <p><i class="zmdi zmdi-alarm"></i> {{data?.details2}}</p>
    </div>
    <div class="col-md-8">
        <video [src]="data?.video_url" type="video/mp4" controls></video>
        <div Markdown>{{data?.description}}</div>
    </div>
    <app-sticky-card [data]="data"  class="col-md-4"></app-sticky-card>
    <div class="container-full">
        <div  class="container">
            <div class="col-md-8">
                <h5>VENUE</h5>
                {{data?.venue?.name}}<br/>
                {{data?.venue?.address?.address_1}}, {{data?.venue?.address?.address_2}}, {{data?.venue?.address?.city}},  {{data?.venue?.address?.province}}<br/>
                {{data?.venue?.address?.country}}<br/>
                {{data?.venue?.address?.postal_code}}<br/>
            </div>
        </div>
    </div>
    <agm-map class="mt-4" [latitude]="data?.venue?.lat" [longitude]="data?.venue?.long" [zoom]="8">
        <agm-marker [latitude]="data?.venue?.lat" [longitude]="data?.venue?.long"></agm-marker>
    </agm-map>
    <div class="container-full pb-4 mt-4" [hidden]="!data?.instructors?.length">
        <div  class="container instructors-container">
            <div class="col-md-8">
                <h4 [hidden]="data?.is_special_event">INSTRUCTORS </h4><h4 [hidden]="!data?.is_special_event">SPEAKERS</h4>
                <div class="instructors-wrapper">
                    <div class="instructor-info" *ngFor="let instructor of data?.instructors">
                        <h4>{{instructor.name}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-full courses-container">
    <div  class="container">
        <div class="col-md-12">
            <h3>Other available {{data?.name}} dates</h3>
            <app-upcoming-courses></app-upcoming-courses>
        </div>
    </div>
</div>


