@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
.class-page-wrapper{
  width:100%;
  position: relative;
  animation:fadeIn 0.1s;
  .page-banner {
    flex-direction: column;
    color: #ffffff;
    h2{
      font-weight: bold;
    }
   .class-details {
     display: flex;
     justify-content: space-around;
     align-items: center;
     p {
       margin: 0 40px;
       font-size: 20px;
       i{
         padding-right: 10px;
       }
       @media screen and (max-width: 768px) {
         margin: 0 5px;
         font-size: 15px;
       }
     }
     @media screen and (max-width: 480px) {
       flex-direction: column;
     }
   }
 }
  #sticky-element{
    visibility: hidden;
    height: 40px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:1!important;
    width:100%!important;
    color: #fff;
    p {
      margin: 0 20px;
      @media screen and (max-width: 768px) {
        margin: 0 5px;
      }
      @media screen and (max-width: 480px) {
        font-size: 12px;
      }
    }
    &.is_stuck{
      visibility: visible;
      -webkit-animation: fadeInDownPerso;
      animation: fadeInDownPerso;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
  }
  app-sticky-card{
    z-index: 1;
    &.is_stuck{
      margin-top: 0;
    }
  }
  .venue-full-container{
    background-color:  #e6e6e6;
    color:#000;
    h4{
      font-weight: 600;
    }
  }
  .map {
    height: 300px;
    position: relative;
    display: block;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
  }
  .instructors-full-container{
    background-color: #e6e6e6;
    .instructors-container{
      h4{
        font-weight: 600;
        color: #000;
      }
      .instructors-wrapper{
        display: flex;
        .instructor-info{
          h4{
            font-weight: 400;
          }
          flex-basis:50%;

        }
      }
    }
  }
}
.courses-container{
  min-height: 500px;
}
.ms-preload.single-class-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  //background-image: url('./assets/img/abstract.jpg');
  //background-size: cover;
  //background-position: center;
  //background-repeat: no-repeat;
  background-color: rgba(255,255,255,1);
  z-index: 1002!important;
  &.fadeOut{
    animation: fadeOut 0.2s;
  }
  .spinner {
    width: 60px;
    height: 60px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    animation: sk-rotate 2.0s infinite linear;
    .dot1,
    .dot2 {
      width: 60%;
      height: 60%;
      display: inline-block;
      position: absolute;
      top: 0;
      background-color: #F78600;
      border-radius: 100%;
      animation: sk-bounce 2.0s infinite ease-in-out
    }
    .dot2 {
      top: auto;
      bottom: 0;
      animation-delay: -1.0s;
    }
  }
}