<div class="class-page-wrapper">
    <sticky [sticky-offset-top]="50">
        <div class="static-banner-container class-page-banner">
            <figure [style.background-image]="'url(' + data?.image_url + ')'">
                <figcaption class="text-center">
                    <h3 class="">{{data?.name}}</h3>
                    <div class="class-details">
                        <p><i class="zmdi zmdi-calendar"></i> {{data?.details1}}</p>
                        <p><i class="zmdi zmdi-nature"></i> {{data?.location}}</p>
                        <p><i class="zmdi zmdi-alarm"></i> {{data?.details2}}</p>
                    </div>
                </figcaption>
            </figure>
        </div>
        <app-sticky-card [data]="data"></app-sticky-card>
    </sticky>
    <div  class="container static-page-container">
        <div class="col-md-8">
            <div class="card">
                <video [src]="data?.video_url" type="video/mp4" controls></video>
            </div>
            {{data?.description}}

        </div>
    </div>
    <div class="container-full">
        <div  class="container">
            <div class="col-md-8">
                <h5>VENUE</h5>
                {{data?.venue?.name}}<br/>
                {{data?.venue?.address?.street}},  {{data?.venue?.address?.city}},  {{data?.venue?.address?.province}}<br/>
                {{data?.venue?.address?.country}}<br/>
                {{data?.venue?.address?.postal_code}}<br/>
            </div>
        </div>
    </div>
    <agm-map class="mt-4" [latitude]="data?.venue?.lat" [longitude]="data?.venue?.long" [zoom]="8">
        <agm-marker [latitude]="data?.venue?.lat" [longitude]="data?.venue?.long"></agm-marker>
    </agm-map>
    <div class="container-full" [hidden]="!data?.instructors?.length">
        <div  class="container">
            <div class="col-md-8">
                <h5 [hidden]="data?.is_special_event">INSTRUCTORS </h5><h5 [hidden]="!data?.is_special_event">SPEAKERS</h5>
            </div>
        </div>
    </div>
    <div class="container-full">
        <div  class="container">
            <div class="col-md-12">
                <h3>Other available {{data?.name}} dates</h3>
            </div>
        </div>
    </div>
</div>

