
            <div class="col-md-12">
              <div class="card card-warning mt-4 wow zoomInUp animation-delay-5" style="visibility: visible; animation-name: zoomInUp;">
                <div class="withripple zoom-img">
                  <a href="" class="">
                    <img src="assets/img/demo/p2.jpg" alt="..." class="img-responsive">
                  </a>
                </div>
                <div class="card-block">
                  <span class="label label-warning pull-right">CEO</span>
                  <h3 class="color-warning">Antonie Smith</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                  <div class="row">
                    <div class="col-xs-6">
                      <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook">
                        <i class="zmdi zmdi-facebook"></i>
                      </a>
                      <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter">
                        <i class="zmdi zmdi-twitter"></i>
                      </a>
                      <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram">
                        <i class="zmdi zmdi-instagram"></i>
                      </a>
                    </div>
                    <div class="col-xs-6 text-right">
                      <a href="javascript:void(0)" class="btn btn-raised btn-md btn-warning">
                        <i class="zmdi zmdi-account"></i> Perfil</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="card card-success mt-4 wow zoomInUp animation-delay-7" style="visibility: visible; animation-name: zoomInUp;">
                <div class="withripple zoom-img">
                  <a href="javascript:void()" class="">
                    <img src="assets/img/demo/p1.jpg" alt="..." class="img-responsive">
                  </a>
                </div>
                <div class="card-block">
                  <span class="label label-success pull-right">Marketing</span>
                  <h3 class="color-success">Sophie Austin</h3>
                  <p>Lorem ipsum dolor sit amet, es magnam autem molestias.</p>
                  <div class="row">
                    <div class="col-xs-6">
                      <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook">
                        <i class="zmdi zmdi-facebook"></i>
                      </a>
                      <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter">
                        <i class="zmdi zmdi-twitter"></i>
                      </a>
                      <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram">
                        <i class="zmdi zmdi-instagram"></i>
                      </a>
                    </div>
                    <div class="col-xs-6 text-right">
                      <a href="javascript:void(0)" class="btn btn-raised btn-md btn-success">
                        <i class="zmdi zmdi-account"></i> Perfil</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="card card-royal mt-4 wow zoomInUp animation-delay-9" style="visibility: visible; animation-name: zoomInUp;">
                <div class="withripple zoom-img">
                  <a href="javascript:void()" class="">
                    <img src="assets/img/demo/p3.jpg" alt="..." class="img-responsive">
                  </a>
                </div>
                <div class="card-block">
                  <span class="label label-royal pull-right">Developer</span>
                  <h3 class="color-royal">Lyana Morgan</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                  <div class="row">
                    <div class="col-xs-6">
                      <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook">
                        <i class="zmdi zmdi-facebook"></i>
                      </a>
                      <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter">
                        <i class="zmdi zmdi-twitter"></i>
                      </a>
                      <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram">
                        <i class="zmdi zmdi-instagram"></i>
                      </a>
                    </div>
                    <div class="col-xs-6 text-right">
                      <a href="javascript:void(0)" class="btn btn-raised btn-md btn-royal">
                        <i class="zmdi zmdi-account"></i> Perfil</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12">
            <div class="card card-info mt-4 wow zoomInUp animation-delay-5" style="visibility: visible; animation-name: zoomInUp;">
              <div class="withripple zoom-img">
                <a href="javascript:void()" class="">
                  <img src="assets/img/demo/p4.jpg" alt="..." class="img-responsive">
                </a>
              </div>
              <div class="card-block">
                <span class="label label-info pull-right">Design</span>
                <h3 class="color-info">Charlie kakstar</h3>
                <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                <div class="row">
                  <div class="col-xs-6">
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook">
                      <i class="zmdi zmdi-facebook"></i>
                    </a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter">
                      <i class="zmdi zmdi-twitter"></i>
                    </a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram">
                      <i class="zmdi zmdi-instagram"></i>
                    </a>
                  </div>
                  <div class="col-xs-6 text-right">
                    <a href="javascript:void(0)" class="btn btn-raised btn-md btn-info">
                      <i class="zmdi zmdi-account"></i> Perfil</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="card mt-4 card-danger wow zoomInUp animation-delay-7" style="visibility: visible; animation-name: zoomInUp;">
              <div class="withripple zoom-img">
                <a href="javascript:void()" class="">
                  <img src="assets/img/demo/p6.jpg" alt="..." class="img-responsive">
                </a>
              </div>
              <div class="card-block">
                <span class="label label-danger pull-right">Social Media</span>
                <h3 class="color-danger">Victoria Smith</h3>
                <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                <div class="row">
                  <div class="col-xs-6">
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook">
                      <i class="zmdi zmdi-facebook"></i>
                    </a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter">
                      <i class="zmdi zmdi-twitter"></i>
                    </a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram">
                      <i class="zmdi zmdi-instagram"></i>
                    </a>
                  </div>
                  <div class="col-xs-6 text-right">
                    <a href="javascript:void(0)" class="btn btn-raised btn-md btn-danger">
                      <i class="zmdi zmdi-account"></i> Perfil</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="card card-primary mt-4 wow zoomInUp animation-delay-9" style="visibility: visible; animation-name: zoomInUp;">
              <div class="withripple zoom-img">
                <a href="javascript:void()" class="">
                  <img src="assets/img/demo/p5.jpg" alt="..." class="img-responsive">
                </a>
              </div>
              <div class="card-block">
                <span class="label label-primary pull-right">Developer</span>
                <h3 class="color-primary">Stuart Cooper</h3>
                <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                <div class="row">
                  <div class="col-xs-6">
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook">
                      <i class="zmdi zmdi-facebook"></i>
                    </a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter">
                      <i class="zmdi zmdi-twitter"></i>
                    </a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram">
                      <i class="zmdi zmdi-instagram"></i>
                    </a>
                  </div>
                  <div class="col-xs-6 text-right">
                    <a href="javascript:void(0)" class="btn btn-raised btn-md btn-primary">
                      <i class="zmdi zmdi-account"></i> Perfil</a>
                  </div>
                </div>
              </div>
            </div>
          </div>