.form-group.mat-input-invalid .mat-input-underline {
    border-width: 2px;
}

.form-control {
    background-image: none;
}
textarea{
    flex:1 auto;
}
.cs-submit-button{
    button{
        display: flex;
        align-items: center;
        float: right;
        padding:1rem 4rem;
        i{
            margin-top: -2px;
        }
    }
}