<div class="animated fadeInUp animation-delay-7">
    <form class="contact-support-form form-horizontal" [formGroup]="emailValid">
        <fieldset>
            <div class="form-group no-mt mb-1">
                <div class="col-md-12">
                    <md-input-container class="form-control">
                        <input mdInput placeholder="First Name" id="inputName">
                    </md-input-container>
                </div>
            </div>
            <div class="form-group no-mt mb-1">
                <div class="col-md-12">
                    <md-input-container class="form-control">
                        <input mdInput placeholder="Email Address" id="inputEmail" formControlName="email">
                    </md-input-container>
                </div>
            </div>
            <div class="form-group no-mt mb-1">
                <div class="col-md-12">
                    <md-input-container class="form-control">
                        <input mdInput placeholder="Subject" id="inputSubject">
                    </md-input-container>
                </div>
            </div>
            <div class="form-group  no-mt">
                <div class="col-md-12">
                    <md-input-container class="form-control">
                        <textarea mdInput placeholder="Message" rows="5" id="textArea"></textarea>
                    </md-input-container>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-md-offset-9">
                    <button type="submit" class="btn btn-raised btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>