<div class="container upcoming-courses-container">
  <h3 class="text-center mb-4">Upcoming Courses and Workshops</h3>
  <div class="courses-list-block">
    <ul >
        <li *ngFor="let upCourse of items">
            <a href="#">
              <div class="card wow zoomInUp animation-delay-7">
                <div class="card-header text-center">
                  <h2 class="card-title">{{ upCourse?.name }}</h2>
                </div>
                <div class="card-block">
                  <p ><i class="fa fa-calendar"></i> {{ upCourse?.details1 }}</p>
                  <p ><i class="fa fa-location-arrow"></i> {{ upCourse.location }}</p>
                </div>
              </div>
            </a>
        </li>
    </ul>
  </div>
</div>