<div class="container upcoming-courses-container panel pt-4 pb-4">
  <h3 class="section-title">Upcoming Courses and Workshops</h3>
  <div class="courses-list-block">
    <ul>
      <li>
        <a href="#">
          <div class="card wow zoomInUp animation-delay-7">
            <div class="card-header text-center">
              <h2 class="card-title">Olimpic Weightlifting Fundamentals</h2>
            </div>
            <div class="card-block">
              <p ><i class="zmdi zmdi-calendar"></i> October 10 -October 25, 2017</p>
              <p ><i class="zmdi zmdi-nature"></i> Toronto</p>
            </div>
          </div>
        </a>
      </li>
   <li>
        <a href="#">
          <div class="card wow zoomInUp animation-delay-7">
            <div class="card-header text-center">
              <h2 class="card-title">Olimpic Weightlifting Fundamentals</h2>
            </div>
            <div class="card-block">
              <p ><i class="zmdi zmdi-calendar"></i> October 10 -October 25, 2017</p>
              <p ><i class="zmdi zmdi-nature"></i> Toronto</p>
            </div>
          </div>
        </a>
      </li>
   <li>
        <a href="#">
          <div class="card wow zoomInUp animation-delay-7">
            <div class="card-header text-center">
              <h2 class="card-title">Olimpic Weightlifting Fundamentals</h2>
            </div>
            <div class="card-block">
              <p ><i class="zmdi zmdi-calendar"></i> October 10 -October 25, 2017</p>
              <p ><i class="zmdi zmdi-nature"></i> Toronto</p>
            </div>
          </div>
        </a>
      </li>
   <li>
        <a href="#">
          <div class="card wow zoomInUp animation-delay-7">
            <div class="card-header text-center">
              <h2 class="card-title">Olimpic Weightlifting Fundamentals</h2>
            </div>
            <div class="card-block">
              <p ><i class="zmdi zmdi-calendar"></i> October 10 -October 25, 2017</p>
              <p ><i class="zmdi zmdi-nature"></i> Toronto</p>
            </div>
          </div>
        </a>
      </li>
   <li>
        <a href="#">
          <div class="card wow zoomInUp animation-delay-7">
            <div class="card-header text-center">
              <h2 class="card-title">Olimpic Weightlifting Fundamentals</h2>
            </div>
            <div class="card-block">
              <p ><i class="zmdi zmdi-calendar"></i> October 10 -October 25, 2017</p>
              <p ><i class="zmdi zmdi-nature"></i> Toronto</p>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="card wow zoomInUp animation-delay-7">
            <div class="card-header text-center">
              <h2 class="card-title">Olimpic Weightlifting Fundamentals</h2>
            </div>
            <div class="card-block">
              <p ><i class="zmdi zmdi-calendar"></i> October 10 -October 25, 2017</p>
              <p ><i class="zmdi zmdi-nature"></i> Toronto</p>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <a class="btn btn-raised btn-primary app-btn-ripple view-all-courses" href="#">View all Courses</a>
</div>