.upcoming-courses-container{
  h3{
    text-align: center;
  }
  .courses-list-block{
    ul{
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding:0;
      li{
        margin: 10px;
        min-width: 255px;
        flex-basis: 30%;
        @media screen and (max-width: 768px) {
          flex-basis: auto;
        }
        .card{
          border-bottom: solid 3px #EB8C00;
          border-radius: 3px;
          color: #767676;
          .card-header{
            padding:4rem 2rem;
            background-color: transparent;
            color:#000;
          }
          .card-block{
            padding:4rem 2rem;
          }
        }
      }
    }
  }
  .view-all-courses{
    float: right;
  }
}