.mr-15{
  margin-right: 15px;
  @media screen and (max-width: 991px) {
    margin-right: 0;
  }
}
.ml-15{
  margin-left: 15px;
  @media screen and (max-width: 991px) {
    margin-left: 0;
  }
}
.checkout-wrapper{
  display: flex;
  align-items: stretch;
  md-datepicker{
    height: 0 !important;
  }
  @media screen and (max-width: 991px) {
    flex-direction:column;
  }
  main.ms-paper-content{
    @media screen and (max-width: 480px) {
      &{padding:0 15px;}
    }
    background: #F7F6F6;
    padding:20px 50px;
    .logo{
      img{
        height: 50px;
      }
    }
    .student-information{
      .line-wrapper {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        @media screen and (max-width: 991px) {
          flex-direction:column;
        }
        .mat-select, .mat-input-container {
          width:calc(50% - 15px);
          @media screen and (max-width: 991px) {
            width:100%;
          }
        }
        &>*{
          height: 45px;
          position: relative;
          &>*{
            position: absolute;
            bottom: 0;
          }
        }


        &.line-with-dp{
          md-input-container{
            .mat-datepicker-toggle {
              font-size: 24px;
              color: #5D5D5D;
              cursor: pointer;
              mask-image: url('../../assets/img/icons/datepicker.svg');
              -webkit-mask-size: 100%;
              background-color: #757575;
              background-image: none;
              z-index:99;
              opacity:1;
              position: relative;
            }
            my-date-picker{
              position: absolute;
              right: -21px;
              top: 8px;
            }
          }
        }
      }
      p.text-warning{
        margin-bottom: 5px;
      }
    }
    .license{
      p{
        max-height: 200px;
        overflow-y: scroll;
      }
    }
  }
  aside.ms-paper-menu-left{
    background: white;
    @media screen and (min-width: 480px) and (max-width: 991px)  {
      &{
        padding: 0 50px;
      }
    }
    #method{
      &>div{
        border:2px solid grey;
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 10px;
      }
      &>div.activated{
        color:white;
        background: #F68700;
        border-color: white;
      }
      &>div.desactivated{
        color:white;
        background: grey;
        border-color: white;
      }
    }
    .billing-info {

      @media screen and (min-width: 992px) and (max-width: 1200px)  {
        &>.row{
          & > span:first-child{
            padding-right: 0;
          }
          & > span:last-child{
            padding-left: 0;
          }
        }
      }
      @media screen and (min-width: 320px) and (max-width: 480px)  {
        .mat-input-container{
          width: 92% !important;
        }
      }
      @media screen and (min-width: 769px) and (max-width: 991px)  {
        &>.row{
          & > span .mat-input-container{
            width: 81% !important;
          }
        }
      }
      @media screen and (max-width: 991px) {

        &>.row{
          & > span{
            display: block;
            .mat-input-container{
              width: 90%;
            }
          }
        }
        .row .mat-input-container {
          width: 90%;
        }

        .btn-bordered{
          margin:50px 0;
        }
      }
      i{vertical-align: middle;}
      .mat-input-container {
        width: 90%;
      }
      .row{
        .mat-input-container {
          width: 80%;
        }
      }
      .inline-input{
        .mat-input-container {
          width: 100%;
        }
      }
      .btn-bordered{
        border: 2px solid #AFADAF;
        border-radius: 5px;
        color:rgba(175,175,175, 0.8);
        font-weight: bold;
      }
    }
    .order-info{
      @media screen and (max-width: 991px) {
        .mat-input-container,.tot-btn.total, .tot-btn.balance {
          width: 70% !important;
        }
      }
      @media screen and (max-width: 480px) {
        .mat-input-container, .tot-btn.total, .tot-btn.balance {
          width: 100%;
        }
      }
      .panel .panel-body {
        padding: 1rem;
      }
      .input-group{
        width: 100%;
      }
      .input-group-addon{
        width: 50%;
        text-align: right;
        @media screen and (max-width: 991px) {
          .input-group-addon {
            width: 30% !important;
          }
        }
        @media screen and (max-width: 480px) {
          .input-group-addon {
            width: 40% !important;
          }
        }
      }
      .tot-btn{
        width: 100%;
        padding: 10px 20px;
        font-size: 20px;
        font-weight: bolder;
        margin: 5px 0 5px 5px;
        display: inline-block;
        text-align: center;
        border-radius: 5px;
        &.total{
          background: #666666;
          color:white;
        }
        &.balance{
          background: #CDCBCD;
          color:black
        }
      }
    }
  }
}

