<div class="container">
    <form class="checkoutForm" [formGroup]="checkoutForm" (ngSubmit)="formSubmit($event)" (keydown)="keyDownFunction($event)">
    <div class="row checkout-wrapper">
        <main class="col-md-8 col-sm-12 ms-paper-content">
            <div class="logo"><img src="../assets/DTSLogo.svg" alt=""></div>
            <h1 class="title">{{OrderProcessService.secretData.name}}, {{OrderProcessService.secretData.location}} {{OrderProcessService.secretData.details1}}</h1>
            <span class="price-multiplier">Regular price x 1</span>
            <div class="student-information">
                <h2 class="section-title">STUDENT INFORMATION</h2>
                <div class="line-wrapper">
                    <md-input-container class="mr-15">
                        <input mdInput id="focusedInput2" type="text" formControlName="last_name" placeholder="Last Name">
                    </md-input-container>
                    <md-input-container class="ml-15">
                        <input mdInput class="text-left" id="focusedInput1" type="text" formControlName="first_name" placeholder="First Name">
                    </md-input-container>
                </div>
                <div class="line-wrapper">
                    <md-input-container class="mr-15">
                        <input mdInput  id="focusedInput3" placeholder="Email" type="email" formControlName="email">
                    </md-input-container>
                    <md-input-container class="ml-15">
                        <input mdInput id="focusedInput4" placeholder="Confirm Email" type="email" formControlName="confirm_email"> <span class="check-span" md-suffix><i class="fa fa-check"></i></span>
                    </md-input-container>
                </div>
                <p class="text-warning">Please, use personal email only! E.g.: @gmail.com, @hotmail.com, @yahoo.ca</p>
                <div class="line-wrapper">
                    <ng-select [items]="['USA', 'Canada']"
                               (selected)="selected($event)"
                               placeholder="Country"
                               formControlName="country" class="mr-15"
                    >
                    </ng-select>
                    <!--<md-select placeholder="Country" formControlName="country" class="mr-15">
                        <md-option value="usa" >USA</md-option>
                        <md-option value="canada" >Canada</md-option>
                    </md-select>-->
                    <ng-select [items]="['USA', 'Canada']"
                               (selected)="selected($event)"
                               placeholder="Province / State"
                               formControlName="state" class="mr-15"
                    >
                    </ng-select>
                   <!-- <md-select placeholder="Province / State" formControlName="state" class="ml-15">
                        <md-option value="usa" >USA</md-option>
                        <md-option value="canada" >Canada</md-option>
                    </md-select>-->
                </div>
                <div class="line-wrapper">
                    <md-input-container class="mr-15">
                        <input mdInput  id="badge" type="text"  placeholder="Name of Badge" formControlName="name_of_badge">
                    </md-input-container>
                    <md-input-container class="ml-15">
                        <input mdInput id="city" type="text" placeholder="City" formControlName="city">
                    </md-input-container>
                </div>
                <div class="line-wrapper line-with-dp">
                    <md-select placeholder="Gender" formControlName="gender" class="mr-15">
                        <md-option value="male" >Male</md-option>
                        <md-option value="female" >Female</md-option>
                    </md-select>
                    <md-input-container class="ml-15">
                        <input mdInput [mdDatepicker]="picker" placeholder="Date of Birth" formControlName="date_of_birth">
                        <button mdSuffix [mdDatepickerToggle]="picker"></button>
                    </md-input-container>
                    <md-datepicker #picker ></md-datepicker>
                </div>
                <div class="line-wrapper">
                    <md-input-container class="mr-15">
                        <input mdInput id="phone" type="text" placeholder="Phone Number with Area Code" formControlName="phone">
                    </md-input-container>
                    <md-select placeholder="Industry Certification" formControlName="industry_certification" class="ml-15">
                        <md-option value="personal" >Personal Training Certification</md-option>
                        <md-option value="degree" >College / University Degree</md-option>
                        <md-option value="other" >Other</md-option>
                        <md-option value="none" >None</md-option>
                    </md-select>
                </div>
                <div class="line-wrapper">
                    <md-input-container class="mr-15">
                        <input mdInput id="employer" type="text" placeholder="Employer" formControlName="employer">
                    </md-input-container>
                    <md-select placeholder="Job Title" formControlName="job_title" class="ml-15">
                        <md-option value="personal" >Personal Trainer</md-option>
                        <md-option value="professional" >Other Fitness Professional</md-option>
                        <md-option value="management" >Management</md-option>
                        <md-option value="other" >Other</md-option>
                    </md-select>
                </div>
                <div class="line-wrapper">
                    <md-input-container class="mr-15">
                        <input mdInput id="emergency-name" type="text" placeholder="Emergency Contact Full Name" formControlName="emergency_name">
                    </md-input-container>
                    <md-input-container class="ml-15">
                        <input mdInput id="emergency-number" type="text" placeholder="Emergency Contact Phone Number" formControlName="emergency_phone">
                    </md-input-container>
                </div>
                <div class="line-wrapper">
                    <md-select placeholder="How did you hear about us?" formControlName="refferel" class="mr-15">
                        <md-option value="prev" >Took a course previously</md-option>
                        <md-option value="manager" >Manager / Supervisor</md-option>
                        <md-option value="friend" >Friend / Collegue</md-option>
                        <md-option value="search" >Search Engine</md-option>
                        <md-option value="social" >Social Media</md-option>
                        <md-option value="show" >Trade Show / Conference</md-option>
                        <md-option value="other" >Other (please specify)</md-option>
                    </md-select>
                    <md-select placeholder="T-Shirt Size" formControlName="tshirt_size" class="ml-15">
                        <md-option value="la-s" >Ladies' S</md-option>
                        <md-option value="la-m" >Ladies' M</md-option>
                        <md-option value="la-l" >Ladies' L</md-option>
                        <md-option value="la-xl" >Ladies' XL</md-option>
                        <md-option value="me-s" >Men's S</md-option>
                        <md-option value="me-m" >Men's M</md-option>
                        <md-option value="me-l" >Men's L</md-option>
                        <md-option value="me-xl" >Men's XL</md-option>
                    </md-select>
                </div>
            </div>
            <div class="license">
                <h2>PARTICIPATION WAIVER</h2>
                <md-checkbox>I have read and agree to the Participation Waiver and the <a href="">Terms and Conditions</a></md-checkbox>
                <md-checkbox>I want to receive monthly newsletter packed with helpful education content.</md-checkbox>
                <p>
                    All our resources are royalty free for use in both personal and commercial projects.
                    You can modify any resources to your liking to fit into your project, we are however not legally
                    liable for any misuse of our resources.
                    We do not ask for you to include any attribution or link back to Dreamstale.com for premium resources.
                    We do however appreciate if you do credit our free resources or/and help spread the word about us.
                    You cannot however redistribute, resell, lease, license, sub-license or offer our resources to any
                    third party. This includes uploading our resources to another website, marketplace or media-sharing
                    tool, and offering our resources as a separate attachment from any of your work. If you do plan to
                    include one of our resource on an item or template that will be sold on a website or marketplace,
                    we ask of you to contact us to determine the proper use of our resource before doing so.
                    Premium files downloaded can be used in a item or website template sold through a marketplace or
                    directly on a website with no attribution required. You cannot however resell or redistribute those
                    premium files as is. Please contact us before using those files in this way to ensure that you abide
                    by our license. IMPORTANT you cannot use any resources from the psd web templates category to
                    create a website theme or template to be sold. They can only be used for personal and commercial
                    projects.
                </p>
            </div>
        </main>
        <aside class="col-md-4 col-sm-12 ms-paper-menu-left">
            <h2 class="section-title">Early Bid Registration</h2>
            <p>
                <i class="material-icons prefix text-warning" style="vertical-align: sub">report_problem</i>
                &nbsp; &nbsp; This registration is non-refundale!
            </p>
            <br>
            <p>Payment options</p>
            <md-radio-group id="method">
                <div class="pay-full">
                    <md-radio-button value="1"  aria-label="Label 1" [checked]="!OrderProcessService.secretData.allow_partial_payment" class="md-checked" required>Pay in Full</md-radio-button> <span class="price">$1,999.00</span>
                </div>
                <div class="pay-deposite" [ngClass]="OrderProcessService.secretData.allow_partial_payment?'activated':'desactivated'">
                    <md-radio-button value="2" [disabled]="!OrderProcessService.secretData.allow_partial_payment" aria-label="Label 2" required>Pay Deposit only</md-radio-button>
                    <br>
                    <span>Balance Due <span class="date">July31, 2017</span></span>
                </div>
            </md-radio-group>
            <h2 class="section-title">BILLING</h2>
            <div class="billing-info">
                <p>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <md-input-container>
                        <input mdInput id="cardholder" type="text"  placeholder="Cardholder Name" required>
                    </md-input-container>
                </p>
                <p>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <md-input-container>
                        <input mdInput id="card-email" type="email"  placeholder="Cardholder Email Address" email required>
                    </md-input-container>
                </p>

                <p>
                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                    <md-input-container>
                        <input mdInput id="card" type="text"  placeholder="Credit Card Number" required>
                    </md-input-container>
                </p>

                <div class="row">
                    <span class="col-sm-6">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <md-input-container>
                            <input mdInput id="card-date" type="text"  placeholder="MM / YY" required>
                        </md-input-container>
                    </span>
                    <span class="col-sm-6">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <md-input-container>
                            <input mdInput id="csv" type="text"  placeholder="CSV" required>
                        </md-input-container>
                    </span>
                </div>


                <p>
                    <i class="fa fa-scissors" aria-hidden="true"></i>
                    <md-input-container>
                        <input mdInput id="code" type="text"  placeholder="Enter Coupon" required>
                    </md-input-container>
                </p>
                <p>
                    <a (click)="applyCoupon()" class="btn btn-block btn-bordered">Apply Coupon<div class="ripple-container"></div></a>
                </p>
            </div>
            <div class="order-info">
                <div class="form-group inline-input">
                    <label class="sr-only" for="total">Order Subtotal:</label>
                    <div class="input-group">
                        <div class="input-group-addon">Order Subtotal:</div>
                        <md-input-container>
                            <input mdInput id="total" type="text" required>
                        </md-input-container>
                    </div>
                    <label class="sr-only" for="cpn">Coupon:</label>
                    <div class="input-group" *ngIf="couponActivated">
                        <div class="input-group-addon">Coupon:</div>
                        <md-input-container>
                            <input mdInput id="cpn" type="text" required>
                        </md-input-container>
                    </div>
                    <label class="sr-only" for="tax1">Tax 1:</label>
                    <div class="input-group">
                        <div class="input-group-addon">Tax 1:</div>
                        <md-input-container>
                            <input mdInput id="tax1" type="text" required>
                        </md-input-container>
                    </div>
                    <label class="sr-only" for="tax2">Tax 2:</label>
                    <div class="input-group">
                        <div class="input-group-addon">Tax 2:</div>
                        <md-input-container>
                            <input mdInput id="tax2" type="text" required>
                        </md-input-container>
                    </div>
                    <br>
                    <div class="input-group">
                        <div class="input-group-addon">Total:</div>
                        <span class="tot-btn total">100$</span>
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon">Balance Owning:</div>
                        <span class="tot-btn balance">1,639$</span>
                    </div>
                </div>
                <p>
                    <button type="submit" class="btn btn-block btn-raised btn-primary">Register<span class="ripple-container"></span></button>
                </p>
            </div>
        </aside>
    </div>
    </form>
</div>