.mr-15{
  margin-right: 15px;
  @media screen and (max-width: 991px) {
    margin-right: 0;
  }
}
.ml-15{
  margin-left: 15px;
  @media screen and (max-width: 991px) {
    margin-left: 0;
  }
}
h4{
  font-weight: 400;
}
h5{
   font-weight: 500;
 }
.checkout-wrapper{
  display: flex;
  align-items: stretch;
  md-datepicker{
    height: 0 !important;
  }
  @media screen and (max-width: 991px) {
    flex-direction:column;
  }
  main.ms-paper-content{
    @media screen and (max-width: 480px) {
      &{padding:0 15px;}
    }
    background: #F7F6F6;
    padding:0 50px;
    .logo{
      float: left;
      img{
        height: 50px;
      }
      @media screen and (max-width: 480px) {
        display: none;
      }
    }
    .section-heading{
      width: 100%;
      display: flex;
      align-items: center;
      .heading-wrapper{
        flex:1 auto;
        .details-wrapper{
          display: flex;
          h4{
            flex-basis: 50%;
          }
        }
      }

    }
    .student-information{
      .line-wrapper {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        @media screen and (max-width: 991px) {
          flex-direction:column;
        }
        ng-select, .mat-input-container {
          width:calc(50% - 15px);
          @media screen and (max-width: 991px) {
            width:100%;
          }
        }
        &>*{
          color: #000;
          height: 45px;
          position: relative;
          &>*{
            position: absolute;
            bottom: 0;
          }
        }
        .buffer{
          flex: 1 auto;
        }

        &.line-with-dp{
          md-input-container{
            .mat-datepicker-toggle {
              font-size: 24px;
              color: #5D5D5D;
              cursor: pointer;
              mask-image: url('../../assets/img/icons/datepicker.svg');
              -webkit-mask-size: 100%;
              background-color: #757575;
              background-image: none;
              z-index:99;
              opacity:1;
              position: relative;
              margin-top: -6px;
            }
            my-date-picker{
              position: absolute;
              right: -21px;
              top: 8px;
            }

          }
        }
      }
      p.text-warning{
        margin-bottom: 5px;
      }
    }
    .license{
      h4 {
        margin-top: 4rem;
      }
      p{
        max-height: 200px;
        overflow-y: scroll;
        margin-top: 4rem;
      }
    }
  }
  aside.ms-paper-menu-left{
    .section-heading{

    }
    background: white;
    padding: 0 30px;
    @media screen and (min-width: 480px) and (max-width: 991px)  {
      &{
        padding: 0 50px;
      }
    }
    #method{
      &>label{
        border:2px solid grey;
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 10px;
        height: 90px;
        width:100%;
        cursor:pointer;
        span.price, span.date{
          float: right;
        }
      }
      &>label.activated{
        color:white;
        background: #F68700;
        border-color: white;

      }
      &>label.desactivated{
        color:white;
        background: grey;
        border-color: white;
        cursor: not-allowed;
      }
    }
    .billing-info {
      .line-wrapper {
        display: flex;
        align-items: baseline;
        &.with-date{
          flex-direction: column;
        }
        .mat-input-container {
          flex:1 auto;
          height: 45px;
          position: relative;
          color: #000;
          & > * {
            position: absolute;
            bottom: 0;
          }
        }
        span.date-container{
          width: 100%;
          display: flex;
          align-items: baseline;
          justify-content: center;
          span{padding: 0 10px;}
        }
        span.csv-container{
          width:100%;
        }
      }
      @media screen and (min-width: 992px) and (max-width: 1200px)  {
        &>.row{
          & > span:first-child{
            padding-right: 0;
          }
          & > span:last-child{
            padding-left: 0;
          }
        }
      }
      @media screen and (min-width: 320px) and (max-width: 480px)  {
        .mat-input-container{
          width: 91% !important;
        }
      }
      @media screen and (min-width: 769px) and (max-width: 991px)  {
        &>.row{
          & > span .mat-input-container{
            width: 81% !important;
          }
        }
      }
      @media screen and (max-width: 991px) {

        &>.row{
          & > span{
            display: block;
            .mat-input-container{
              width: 90%;
            }
          }
        }
        .row .mat-input-container {
          width: 90%;
        }

        .btn-bordered{
          margin:50px 0;
        }
      }
      i{vertical-align: middle;}
      .mat-input-container {
        width: 90%;
      }
      .row{
        .mat-input-container {
          width: 80%;
          color: #000;
        }
        span.date-container{
          display: flex;
          height: 45px;
          align-items: baseline;
          .mat-input-container {
            height: 45px;
            position: relative;
            color: #000;
            & > * {
              position: absolute;
              bottom: 0;
            }
            &.month-container{
              text-align: right;
              padding-right:10px;
            }
            &.year-container{
              text-align: left;
              text-indent:5px;
            }
          }
          span{
            border-bottom:solid 1px rgba(0,0,0,0.12);
          }
        }
      }
      .inline-input{
        .mat-input-container {
          width: 100%;
        }
      }
      .btn-bordered{
        border: 2px solid #AFADAF;
        border-radius: 5px;
        color:rgba(175,175,175, 0.8);
        font-weight: bold;
      }
    }
    .order-info{
      text-align: right;
      @media screen and (max-width: 991px) {
        .field-value,.field-name,.tot-btn.total, .tot-btn.balance {
          width: 70% !important;
        }
      }
      @media screen and (max-width: 480px) {
        .field-value,.field-name, .tot-btn.total, .tot-btn.balance {
          width: 100%;
        }
      }

      .line-wrapper{
        display: flex;
        .field-value,.field-name {
          padding-top:15px;
          margin-bottom:4px;
          height: 30px;
          position: relative;
          width:50%;
          font-weight: 500;
          color: rgb(85,85,85);
        }
        .field-name{
          line-height: 1;
          margin-right: 15px;
        }
        .field-value{
          border-bottom:solid 1px rgba(0,0,0,0.12);
          line-height: 0.8;
          padding-right: 20px;
        }
      }
      .tot-btn{
        width: 100%;
        padding: 5px 20px;
        font-size: 20px;
        font-weight: bolder;
        display: inline-block;
        text-align: center;
        border-radius: 5px;
        min-height: 36px;
        border-bottom:none!important;
        &.total{
          background: #666666;
          color:white  !important;
          margin-bottom: 5px !important;
          line-height: 0.4!important;
        }
        &.balance{
          background: #CDCBCD;
          color:black
        }
      }
      button{
        box-shadow: none;
        border-radius: 5px;
      }
      .payment-methods{
        background-image: url('../../../src/assets/soo.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width:100%;
        min-height: 56px;
        background-position: center;
      }
    }
  }
}

