<div class="container">
    <form class="checkoutForm" [formGroup]="checkoutForm" (ngSubmit)="formSubmit($event)" (keydown)="keyDownFunction($event)">
    <div class="row checkout-wrapper">
        <main class="col-md-8 col-sm-12 ms-paper-content">
            <div class="section-heading mb-4">
                <div class="logo mr-4"><a routerLink="/home" href=""><img src="../assets/DTSLogo.svg" alt=""></a></div>
                <div class="heading-wrapper">
                    <h3 class="title">{{OrderProcessService.secretData.name}}</h3>
                    <div class="details-wrapper"><h4 class="no-m"><i class="fa fa-calendar mr-15"></i> {{OrderProcessService.secretData.details1}}</h4><h4 class="no-m">  <i class="fa fa-location-arrow mr-15"></i> {{OrderProcessService.secretData.location}}</h4></div>
                </div>
            </div>
            <div class="student-information">
                <h4>Student Information</h4>
                <div class="line-wrapper">
                    <md-input-container class="ml-15">
                        <input mdInput class="text-left" id="focusedInput1" type="text" formControlName="first_name" placeholder="First Name">
                    </md-input-container>
                    <md-input-container class="mr-15">
                        <input mdInput id="focusedInput2" type="text" formControlName="last_name" placeholder="Last Name">
                    </md-input-container>
                </div>
                <div class="line-wrapper">
                    <md-input-container class="mr-15">
                        <input mdInput  id="focusedInput3" placeholder="Email" type="email" formControlName="email">
                    </md-input-container>
                    <md-input-container class="ml-15">
                        <input mdInput id="focusedInput4" placeholder="Confirm Email" type="email" formControlName="confirm_email">
                    </md-input-container>
                </div>
                <p class="text-warning">Please, use personal email only! E.g.: @gmail.com, @hotmail.com, @yahoo.ca</p>
                <div class="line-wrapper">
                    <ng-select [items]="[{id:'USA',text:'USA'}, {id:'Canada',text:'Canada'}]"
                               placeholder="Country"
                               formControlName="country" class="mr-15"
                    >
                    </ng-select>
                    <ng-select [items]="[{id:'USA',text:'USA'}, {id:'Canada',text:'Canada'}]"
                               placeholder="Province / State"
                               formControlName="state" class="mr-15"
                    >
                    </ng-select>
                </div>
                <div class="line-wrapper">
                    <md-input-container class="mr-15">
                        <input mdInput  id="badge" type="text"  placeholder="Name of Badge" formControlName="name_of_badge">
                    </md-input-container>
                    <md-input-container class="ml-15">
                        <input mdInput id="city" type="text" placeholder="City" formControlName="city">
                    </md-input-container>
                </div>
                <div class="line-wrapper line-with-dp">
                    <ng-select [items]="[{id:'male',text:'Male'}, {id:'female',text:'Female'}]"
                               placeholder="Gender"
                               formControlName="gender" class="mr-15"
                    >
                    </ng-select>
                    <md-input-container class="ml-15">
                        <input mdInput placeholder="Date of Birth" formControlName="date_of_birth">
                        <button mdSuffix class="mat-datepicker-toggle" (click)="onToggleSelector($event)"></button>
                        <my-date-picker class="date-picker-checkout-page" #mydp="mydatepicker" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)"></my-date-picker>
                    </md-input-container>

                </div>
                <div class="line-wrapper">
                    <md-input-container class="mr-15">
                        <input mdInput id="phone" type="text" placeholder="Phone Number with Area Code" formControlName="phone">
                    </md-input-container>
                    <ng-select [items]="[{id:'personal',text:'Personal Training Certification'}, {id:'degree',text:'College / University Degree'},{id:'other',text:'Other'},{id:'none',text:'None'}]"
                               placeholder="Industry Certification"
                               formControlName="industry_certification" class="ml-15"
                    >
                    </ng-select>
                </div>
                <div class="line-wrapper">
                    <md-input-container class="mr-15">
                        <input mdInput id="employer" type="text" placeholder="Employer" formControlName="employer">
                    </md-input-container>
                    <ng-select [items]="[{id:'personal',text:'Personal Trainer'}, {id:'professional',text:'Other Fitness Professional'},{id:'management',text:'Management'},{id:'other',text:'Other'}]"
                               placeholder="Job Title"
                               formControlName="job_title" class="ml-15"
                    >
                    </ng-select>
                </div>
                <div class="line-wrapper">
                    <md-input-container class="mr-15">
                        <input mdInput id="emergency-name" type="text" placeholder="Emergency Contact Full Name" formControlName="emergency_name">
                    </md-input-container>
                    <md-input-container class="ml-15">
                        <input mdInput id="emergency-number" type="text" placeholder="Emergency Contact Phone Number" formControlName="emergency_phone">
                    </md-input-container>
                </div>
                <div class="line-wrapper">
                    <ng-select [items]="[{id:'prev',text:'Took a course previously'},
                    {id:'manager',text:'Manager / Supervisor'},
                    {id:'friend',text:'Friend / Collegue'},
                     {id:'search',text:'Search Engine'},
                    {id:'social',text:'Social Media'},
                     {id:'show',text:'Trade Show / Conference'},
                    {id:'other',text:'Other (please specify)'}]"
                               placeholder="How did you hear about us?"
                               formControlName="refferel" class="mr-15"
                    >
                    </ng-select>
                    <ng-select
                        [items]="shirtSize"
                        placeholder="T-Shirt Size"
                        formControlName="tshirt_size" class="ml-15"
                    >
                    </ng-select>
                </div>
            </div>
            <div class="license">
                <h4>Participation Waiver</h4>
                <md-checkbox formControlName="agreement">I have read and agree to the Participation Waiver and the <a routerLink="/terms-of-service">Terms and Conditions</a></md-checkbox>
                <md-checkbox formControlName="newsletter">I want to receive monthly newsletter packed with helpful education content.</md-checkbox>
                <p>{{OrderProcessService.secretData?.waiver?.content }}</p>
            </div>
        </main>
        <aside class="col-md-4 col-sm-12 ms-paper-menu-left">
            <div class="section-heading mb-4">
                <h3 class="title"><span *ngIf="OrderProcessService.secretData?.checkoutData?.early_bird">Early Bird </span>Registration</h3>
                <h4 class="no-m"><i class="fa fa-exclamation-triangle text-warning mr-15"></i>Non-Refundale!</h4>
            </div>
            <h4>Payment Options</h4>
            <md-radio-group id="method" formGroupName="full_payment" (change)="applyPaymentType($event)">
                <div class="pay-full">
                    <md-radio-button [value]="1"  aria-label="Label 1" [checked]=true class="md-checked">Pay in Full </md-radio-button> <span class="price" *ngIf="OrderProcessService.secretData?.checkoutData?.early_bird">{{OrderProcessService.secretData?.price_early | currency:'USD':true}}</span><span class="price" *ngIf="!OrderProcessService.secretData?.checkoutData?.early_bird">{{OrderProcessService.secretData?.price_regular | currency:'USD':true}}</span>
                </div>
                <div class="pay-deposite" [ngClass]="OrderProcessService.secretData.allow_partial_payment?'activated':'desactivated'">
                    <md-radio-button [value]="0" [disabled]="!OrderProcessService.secretData.allow_partial_payment" aria-label="Label 2">Pay Deposit only </md-radio-button><span class="price">{{OrderProcessService.secretData?.deposit | currency:'USD':true}}</span>
                    <br>
                    <span>Balance Due <span class="date">{{OrderProcessService.secretData?.balance_due | date : 'MMM d, yyyy'}}</span></span>
                </div>
            </md-radio-group>
            <h4>Billing Information</h4>
            <div class="billing-info" >
                <div formGroupName="cc_group">
                    <div class="line-wrapper">
                        <i class="fa fa-user mr-1" aria-hidden="true"></i>
                        <md-input-container>
                            <input mdInput id="cardholder" type="text"  formControlName="cardholder_name" placeholder="Cardholder Name">
                        </md-input-container>
                    </div>
                    <div class="line-wrapper">
                        <i class="fa fa-envelope-o mr-1" aria-hidden="true"></i>
                        <md-input-container>
                            <input mdInput id="card-email" type="email"  formControlName="cardholder_email" placeholder="Cardholder Email Address">
                        </md-input-container>
                    </div>
                    <div class="line-wrapper">
                        <i class="fa fa-credit-card mr-1" aria-hidden="true"></i>
                        <md-input-container>
                            <input mdInput id="card" type="text"  formControlName="cc_number" placeholder="Credit Card Number">
                        </md-input-container>
                    </div>
                    <div class="row">
                        <span class="col-sm-6  date-container">
                            <i class="fa fa-calendar mr-1" aria-hidden="true"></i>
                            <md-input-container class="month-container">
                                 <input mdInput id="card-month" type="text" formControlName="cc_exp_month" placeholder="MM">
                            </md-input-container>
                            <span>/</span>
                            <md-input-container class="year-container">
                                <input mdInput id="card-year" type="text" formControlName="cc_exp_year" placeholder="YY">
                            </md-input-container>
                        </span>
                        <span class="col-sm-6">
                            <i class="fa fa-lock mr-1" aria-hidden="true"></i>
                            <md-input-container>
                                <input mdInput id="csv" type="text"  formControlName="cc_cvv" placeholder="CSV">
                            </md-input-container>
                        </span>
                    </div>
                </div>
                <div class="line-wrapper">
                    <i class="fa fa-scissors mr-1" aria-hidden="true"></i>
                    <md-input-container>
                        <input mdInput id="code" type="text"  placeholder="Enter Coupon" formControlName="coupon_code">
                    </md-input-container>
                </div>
                <p><a (click)="applyCoupon()" class="btn btn-block btn-bordered">Apply Coupon<div class="ripple-container"></div></a></p>
            </div>
            <div class="order-info">
                    <div class="line-wrapper">
                        <span class="field-name">Order Subtotal:</span><span class="field-value">{{OrderProcessService.secretData?.checkoutData?.amount | currency:'USD':true}}</span>
                    </div>
                    <div class="line-wrapper" *ngIf="couponActivated">
                        <span class="field-name">Coupon:</span><span class="field-value">{{OrderProcessService.secretData?.checkoutData?.discount | currency:'USD':true}}</span>
                    </div>
                    <div class="line-wrapper" *ngIf="OrderProcessService.secretData?.checkoutData?.tax_value?.name1">
                        <span class="field-name">{{OrderProcessService.secretData?.checkoutData?.tax_value?.name1}}</span><span class="field-value">{{OrderProcessService.secretData?.checkoutData?.tax_value?.value1 | currency:'USD':true}}</span>
                    </div>
                    <div class="line-wrapper mb-2" *ngIf="OrderProcessService.secretData?.checkoutData?.tax_value?.name2">
                        <span class="field-name">{{OrderProcessService.secretData?.checkoutData?.tax_value?.name2}}</span><span class="field-value">{{OrderProcessService.secretData?.checkoutData?.tax_value?.value2 | currency:'USD':true}}</span>
                    </div>
                    <div class="line-wrapper">
                        <span class="field-name">Total:</span>
                        <span class="field-value tot-btn total">{{OrderProcessService.secretData?.checkoutData?.total | currency:'USD':true}}</span>
                    </div>
                    <div class="line-wrapper" *ngIf="partialPaymentChoosen">
                        <span class="field-name">Balance Owning:</span>
                        <span class="field-value tot-btn balance">{{OrderProcessService.secretData?.checkoutData?.balance_owning | currency:'USD':true}}</span>
                    </div>
                <button type="submit" class="btn btn-block btn-raised btn-primary" [disabled]="(checkoutForm.invalid||!this.checkoutForm.controls['agreement'].value)">Register</button>
                <div class="payment-methods mb-4"></div>
            </div>
        </aside>
    </div>
    </form>
</div>
