@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    } 
}
.upcoming-courses-container {
  padding: 0 15px;
  h3 {
    text-align: center;
  }
} 
.courses-list-block {
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    // justify-content: flex-start;
    justify-content: space-between;
    align-items: stretch;
    padding: 0;
    margin:0;
    @media screen and (max-width: 991px) {
      justify-content: center;
    }
    @media screen and (max-width: 768px) {
      justify-content: space-around;
    }
    li {
      margin: 0;
      margin-right: 20px;
      margin-bottom: 20px;
      min-width: 255px;
      flex-basis: 31%;
      animation: fadeIn 0.3s;
      .wrapper-course {
        cursor: pointer;
      }
      &:nth-child(3n){
        margin-right:0;
        @media screen and (max-width: 991px) {
          margin-right: 20px;
        }
        @media screen and (max-width: 768px) {
          margin-right: 0;
        }
      }
      @media screen and (max-width: 768px) {
        margin-right: 0;
      }
      @media screen and (max-width: 600px) {
        flex-basis: 60%!important;
      }
    .card {
      border-bottom: solid 3px #EB8C00;
      border-radius: 3px;
      color: #767676;
      padding: 1rem 0 3rem;
      min-height: 210px;
      height: 100%;
      &.full-info {
        min-height: 390px;
      }
      .card-header {
        background-color: transparent;
        color: #000;
        padding: 8px 0;
        min-height: 75px;
        h2{
          margin-top: 2rem;
          padding: 0 4rem;
        }
      }
      .card-block {
        padding: 2rem 4rem 0 4rem;
        p{
          margin: 0;
          padding: 5px 0;
          &.title {
            max-width: 100px;
          }
          i {
            margin-right: 15px;
          }
        }
        &.price-block {
          padding: 1rem 4rem;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
        }
        .info-block {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          color: #000000;
          font-weight: 500;
          width: 100%;
          .price-value {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            margin-bottom: 10px;
            text-align: right;
            span {
              display: inline-block;
              color: #F78600;
              line-height: 0.8;
            }
          }
        }
      }
    }
    }
  }
}
.additional-info {
  .courses-list-block {
    ul {
      padding-top: 40px;
    }
  }
}