<div class="container upcoming-courses-container">
   <div class="courses-list-block">
    <ul>
      <li *ngFor="let course of upcomingCoursesData">
          <!--<a routerLink="">-->
            <div class="card wow zoomInUp animation-delay-7">
              <div class="card-header text-center">
                <h2 class="card-title">{{ course?.name }}</h2>
              </div>
              <div class="card-block">
                <p ><i class="fa fa-calendar"></i>{{ course?.details1 }}</p>
                <p *ngIf="additionalInfo"><i class="fa fa-clock-o"></i>{{ course?.details2 }}</p>
                <p ><i class="fa fa-location-arrow"></i>{{ course?.location }}</p>
              </div>

              <div class="card-block price-block" *ngIf="additionalInfo">
                <div class="early-bird info-block">
                  <p class="title">Early Bird Registration</p>
                  <p class="price-value">$ {{ course?.price_early }} <span>{{ course?.spots_early }} spaces left</span></p>
                </div>

                <div class="regular info-block">
                  <p class="title">Regular Registration</p>
                  <p class="price-value">$ {{ course?.price_regular }} <span>{{ course?.spots_regular }} spaces left</span></p>
                </div>
              </div>
            </div>
          <!--</a>-->
        </li>

    </ul>
  </div>
</div>