<div class="page-wrapper">
  <div class="page-banner" style="background-image: url('../../assets/ThankYouBanner.jpg')">
    <div class="container text-center">
      <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg animated zoomInDown animation-delay-5">
        <span>Thank You!</span>
      </h1>
    </div>
  </div>
  <div class="container mt-4 mb-4 text-center">
    <h4>stundet_name, thank you for registering for course_Name<br>
    Order: ORD001001</h4>
    <h4>Your Payment Receipt has been emailed to you. Please check your inbox.</h4>
  </div>
    <div class="container-full important-info pt-2 pb-4">
      <div class="container text-center ">
        <h3><i class="fa fa-exclamation-triangle"></i>Important!</h3>
        <p>If you used your work email address during the registration process, <strong>we highly recommend you forward your Payment Receipt to your personal email account</strong> for future reference or for tax purposes.</p>
      </div>
    </div>
   <div class="container text-center mt-6 pb-6 border-bottom">
     <p>If you do not receive an email from us within 10 minutes, please check your email <strong>Spam</strong> and <strong>Junk</strong> folders.<br>
     Please <a href="www.help.dtsfitnesseducation.com/article/25-missing-payment-receipt-spam-and-junk-mail-folders">click here</a> for instructions.</p>
   </div>
   <div class="container text-center mt-4 mb-4">
    You just invested in your education, why not share this exciting news with your friends and clients?<div class="addthis_inline_share_toolbox pt-2 pb-2"></div>
  </div>
</div>