<div class="page-banner" style="background-image: url('../../assets/PrivacyBanner.jpg')">
  <div class="container">
    <div class="text-center">
      <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg animated zoomInDown animation-delay-5">
        <span>Privacy and Security Statement</span>
      </h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="animated slideInUp animation-delay-8 mb-6 mt-6">
      <div class="row">
        <div class="text-justify">
          <p>DTS Fitness Education is committed to respecting your privacy and protecting your personal information whether you are browsing for information or registering in a course. Such information is kept confidential and is never shared with third parties.</p>

          <p>Our Privacy and Security Statement explains the current practices employed on our website and is based on the principles covered in Canada's Personal Information Protection and Electronic Documents Act ("PIPEDA") as well as Ontario's Freedom of Information and Protection of Privacy Act ("FIPPA").Privacy of Personal Information</p>

          <p>DTS Fitness Education does not share personal information that is provided voluntarily through web forms when you register for a course. This includes standard web server log files. If you have signed up for our newsletter, we will send you a monthly email to tell you about new features, solicit your feedback, or keep you up to date with what's going on with DTS Fitness Education and our products and services.</p>


          <h4 class="mt-2">Web Analytics and Server Log Files</h4>
          <p>DTS Fitness Education uses web analytics services to collect site-visitation statistics. These services might collect machine-specific information such as IP address, operating system, and web browser type. This analytics may also provide information about user pathways through the website. We collect this information to better understand how our website is used and to further enhance your user experience.</p>


          <h4 class="mt-2">Use of Cookies</h4>
          <p>DTS Fitness Education website uses cookies. Cookies support the site visitation statistics and functions such as forms processing. Visitors to our website may reject any or all of our cookies by using their web browser's preferences. Please be aware that certain features of the website, such as forms and surveys, require the use of cookies to function properly.</p>


          <h4 class="mt-2">Trademarks</h4>
          <p>DTS Fitness Education® name and logo, as well as any other DTS Fitness Education service or product names or logos displayed on our website, are registered trademarks or trademarks of DTS Fitness Education. The names and logos of third party products and companies shown on the website and used in the materials are the property of their respective owners and may also be trademarked. Our trademarks may be used publicly only with written permission from DTS Fitness Education.</p>


          <h4 class="mt-2">General Web Disclaimer</h4>
          <p>We strive to ensure the accuracy of information on the web but discrepancies may still exist. Please report such discrepancies to us.</p>

          <p>Some web pages contain links to web pages hosted outside of DTS Fitness Education. This does not suggest any implicit or explicit approval of or endorsement of these linked web pages and their content by DTS Fitness Education.</p>

          <p>If you have any general comments, suggestions, questions, or concerns about DTS Fitness Education's website, please direct them to info@dtsfitnesseducation.com or <a routerLink="/contact-support">contact us.</a></p>
      </div>
    </div>
  </div>
</div>
