 html{
   font-size: 10px;
 }
 .app-btn-ripple {
   font-weight: 400;
   letter-spacing: 0.14px;
   white-space: nowrap;
   align-self: center;
   border: none;
   outline: rgba(0, 0, 0, 0.870588) none 0px;
   position: relative;
   overflow: hidden;
   transform: translate3d(0, 0, 0);
   &:after {
     content: "";
     display: block;
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     pointer-events: none;
     background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
     background-repeat: no-repeat;
     background-position: 50%;
     transform: scale(10,10);
     opacity: 0;
     transition: transform .5s, opacity 1s;
   }
   &:active:after {
     transform: scale(0,0);
     opacity: .2;
     transition: 0s;
   }
 }
 .static-banner-container{
   position: relative;
   min-height: 250px;
   display: grid;
   figure{
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     height: 100%;
     width:100%;
     figcaption{
       color: #fff;
       position: absolute;
       top:50%;
       left:50%;
       transform:translate(-50%,-50%);
       @media screen and (max-width: 768px) {
         width:100%;
       }
     }
   }
 }

 .sb-site-container{
   app-header{
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
   }
   sticky.sticky{
     .ms-header{
       display: none;
     }
     nav.ms-navbar {
       position: fixed;
       right: 0;
       left: 0;
       z-index: 1030;
       top: 0;
       margin-bottom: 0;
       -webkit-animation: fadeInDownPerso;
       animation: fadeInDownPerso;
       -webkit-animation-duration: 1s;
       animation-duration: 1s;
       -webkit-animation-fill-mode: both;
       animation-fill-mode: both;
       .btn-navbar-menu {
         display: inline-block;
       }
       .navbar-brand{
         display: block;
       }
     }
     + .general-content-wrapper{
       margin-top: 90px;
     }
   }
   .general-content-wrapper{
     margin-top: 100px;
     padding-top:90px;
     position: relative;
   }
 }
@import './assets/theme-scss/style.themed';