$mdc-grey-100:  #F5F5F5;
$mdc-light-blue-600:  #039BE5;

$color-light: $mdc-grey-100;
$color-primary-dark: $mdc-light-blue-600;

$mdb-shadow-key-umbra-opacity: 0.2 ;
$mdb-shadow-key-penumbra-opacity: 0.14 ;
$mdb-shadow-ambient-shadow-opacity: 0;
@mixin shadow-4dp(){
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, $mdb-shadow-key-penumbra-opacity),
  0 1px 10px 0 rgba(0, 0, 0, $mdb-shadow-ambient-shadow-opacity),
  0 2px 4px -1px rgba(0, 0, 0, $mdb-shadow-key-umbra-opacity);
}
html{
  font-size: 10px;
}
.sb-site-container {
  transform: none;
  background-color: $color-light;
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
  0 1px 18px 0 rgba(0, 0, 0, 0.12),
  0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
.btn {
  font-weight: 400;
  letter-spacing: 0.14px;
  white-space: nowrap;
  align-self: center;
  border: none;
  outline: rgba(0, 0, 0, 0.870588) none 0px;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10,10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
  }
  &:active:after {
    transform: scale(0,0);
    opacity: .2;
    transition: 0s;
  }
  &.btn-default {
    &:hover,
    &:focus,
    &:active {
      background-color: #dfdfdf;
    }
  }

  &.btn-primary {
    &:hover,
    &:focus,
    &:active {
      background-color: $color-primary-dark;
    }
  }

  &.btn-raised {
    &:hover,
    &:focus,
    &:active {
      @include shadow-4dp();
    }
  }
}
