html{
   font-size: 10px;
 }
body {
  position: relative;
} 
h3{
  font-weight:400!important;
}
 .static-banner-container{
   min-height: 280px;
   display: grid;
   position: relative;
   figure{
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     height: 100%;
     width:100%;
     figcaption{
       color: #fff;
       position: absolute;
       top:50%;
       left:50%;
       transform:translate(-50%,-50%);
       @media screen and (max-width: 768px) {
         width:100%;
       }
     }
   }
 }
.static-page-container{
  padding-top: 40px;
}
 .sb-site-container{
   app-header{
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
   }
   sticky.sticky{
    nav.ms-navbar {
       position: fixed;
       right: 0;
       left: 0;
       z-index: 1030;
       top: 0;
       margin-bottom: 0;
       -webkit-animation: fadeInDownPerso;
       animation: fadeInDownPerso;
       -webkit-animation-duration: 1s;
       animation-duration: 1s;
       -webkit-animation-fill-mode: both;
       animation-fill-mode: both;
     }
   }
   .general-content-wrapper{
     padding-top:90px;
     position: relative;
     z-index: 3;
     &.isHome{
       margin-top: 0;
       padding-top:0;
     }
   }
 }
@import './assets/theme-scss/style.themed';
 .form-horizontal label {
   text-align: left;
 }
#method{
  div.inactive{
    .mat-radio-outer-circle {
      border-color: white;
    }
    .mat-radio-label-content{
      color:white;
    }
  }
}
@media screen and (max-width: 991px) {
  .row.checkout-wrapper{
    flex-direction: column;
  }
}