html{
   font-size: 10px;
 }
body {
  position: relative;
} 
h3{
  font-weight:400!important;
}
 .static-banner-container{
   min-height: 280px;
   display: grid;
   position: relative;
   figure{
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     height: 100%;
     width:100%;
     figcaption{
       color: #fff;
       position: absolute;
       top:50%;
       left:50%;
       transform:translate(-50%,-50%);
       @media screen and (max-width: 768px) {
         width:100%;
       }
     }
   }
 }
.static-page-container{
  padding-top: 40px;
}
 .sb-site-container{
   app-header{
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
   }
   sticky.sticky{
    nav.ms-navbar {
       position: fixed;
       right: 0;
       left: 0;
       z-index: 1030;
       top: 0;
       margin-bottom: 0;
       -webkit-animation: fadeInDownPerso;
       animation: fadeInDownPerso;
       -webkit-animation-duration: 1s;
       animation-duration: 1s;
       -webkit-animation-fill-mode: both;
       animation-fill-mode: both;
     }
   }
   .general-content-wrapper{
     padding-top:90px;
     position: relative;
     z-index: 3;
     &.isHome{
       margin-top: 0;
       padding-top:0;
     }
   }
 }
@import './assets/theme-scss/style.themed';
 .form-horizontal label {
   text-align: left;
 }
#method{
  div.inactive{
    .mat-radio-outer-circle {
      border-color: white;
    }
    .mat-radio-label-content{
      color:white;
    }
  }
}
.mat-select-trigger {
  margin-top: 8px;
}
.mat-select-placeholder.mat-floating-placeholder {
  top:-13px !important;

}
.mat-select-value-text{
  color: #757575 !important
}
.mat-focused .mat-input-placeholder.mat-float, .mat-input-placeholder.mat-float:not(.mat-empty) {
  transform: translate3d(0,-1.35em,0) scale(.85) !important;
}
.selectiongroup{
  display:none!important;
}
.check-span.green-color i{
  color: green;
}
.wrapper-courses-filter .mat-select-value-text {
  color: #FFFFFF !important;
}
//== My Selects ====
.ui-select-choices.dropdown-menu{
  border-radius: 0;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

.ui-select-choices-row>a:hover, .ui-select-choices-row>a:focus {
  text-decoration: none;
  color:#757575;
  background-color: #f5f5f5;
}

.ui-select-choices-row{
  a{
    color: #757575 !important;
    font-size: 16px;
    height:48px;
    div{line-height: 40px;}
  }

}
.ui-select-choices-row.active>a {
  color: #757575 !important;
  text-decoration: none;
  outline: 0;
  background-color: rgba(0, 0, 0, .04) !important;
}
.form-control.ui-select-search{
  box-shadow: none;
}
.ui-select-toggle > .caret{
  border-top-color:#757575 !important;
}
.ui-select-placeholder{
  text-transform: none !important;
}
.ui-select-match-text{
  // color: rgba(0, 0, 0, .38);
  color: #000;
  text-transform: none !important;
}
ng-select{
  width: 100%;
  &:last-child{
    margin-right: 0 !important;
    margin-left: 15px !important;
    @media screen and (max-width: 991px) {
      margin-left: 0 !important;
    }
  }
}
.form-control.ui-select-toggle{
  padding: 0;
  height: 28px;
  &:hover{
    background-color: inherit;
  }
  .caret{
    right: 0 !important;
  }
}

// Change Calendar

.date-picker-checkout-page {
  table.caltable {
    tbody {
      td.currmonth {
        color: #000000;
      }
    }
  }
}
  
// End Change Calendar


//== My Selects ENDS====
markdown{
  p{
    a{
      word-break: break-all!important;
    }
  }
}