<div class="carousel-wrapper ms-hero-bg-primary">
  <div class="container carousel-container">
  <div class="row">
    <a href="javascript:void(0)" class="btn-circle btn-circle-primary zoomInDown animation-delay-7 slideLeft" [ngClass]="{'invisible':hideLeftButton}" (click) = "slideLeft()"><i class="zmdi zmdi-chevron-left"></i></a>
    <div id="testimonials-carousel" class="carousel-box">
      <div class="carousel-element pt-4 pb-4">
        <div class="bq ">
          <h4 class="color-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante ultricies nisi vel augue quam semper libero.</h4>
        </div>
        <div class="bq-author">
          <img src="../../../assets/img/demo/avatar1.jpg" alt="..." class="img-avatar-circle">
          <div class="bq-author-info pl-2">
            <h5 class="color-white index-1 no-m pt-4">Victoria Smith</h5>
            <div class="color-white index-1 np-m">Apple Inc.</div>
          </div>
        </div>
      </div>
      <div class="carousel-element pt-4 pb-4">
        <div class="bq ">
          <h4 class="color-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante ultricies nisi vel augue quam semper libero.</h4>
        </div>
        <div class="bq-author">
          <img src="../../../assets/img/demo/avatar2.jpg" alt="..." class="img-avatar-circle">
          <div class="bq-author-info pl-2">
            <h5 class="color-white index-1 no-m pt-4">Alexander Bolt</h5>
            <div class="color-white index-1 np-m">Apple Inc.</div>
          </div>
        </div>
      </div>
      <div class="carousel-element pt-4 pb-4">
        <div class="bq ">
          <h4 class="color-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante ultricies nisi vel augue quam semper libero.</h4>
        </div>
        <div class="bq-author">
          <img src="../../../assets/img/demo/avatar3.jpg" alt="..." class="img-avatar-circle">
          <div class="bq-author-info pl-2">
            <h5 class="color-white index-1 no-m pt-4">Victoria Smith</h5>
            <div class="color-white index-1 np-m">Apple Inc.</div>
          </div>
        </div>
      </div>
      <div class="carousel-element pt-4 pb-4">
        <div class="bq ">
          <h4 class="color-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante ultricies nisi vel augue quam semper libero.</h4>
        </div>
        <div class="bq-author">
          <img src="../../../assets/img/demo/avatar4.jpg" alt="..." class="img-avatar-circle">
          <div class="bq-author-info pl-2">
            <h5 class="color-white index-1 no-m pt-4">Victoria Smith</h5>
            <div class="color-white index-1 np-m">Apple Inc.</div>
          </div>
        </div>
      </div>
      <div class="carousel-element pt-4 pb-4">
        <div class="bq ">
          <h4 class="color-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante ultricies nisi vel augue quam semper libero.</h4>
        </div>
        <div class="bq-author">
          <img src="../../../assets/img/demo/avatar5.jpg" alt="..." class="img-avatar-circle">
          <div class="bq-author-info pl-2">
            <h5 class="color-white index-1 no-m pt-4">Victoria Smith</h5>
            <div class="color-white index-1 np-m">Apple Inc.</div>
          </div>
        </div>
      </div>
      <div class="carousel-element pt-4 pb-4">
        <div class="bq ">
          <h4 class="color-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante ultricies nisi vel augue quam semper libero.</h4>
        </div>
        <div class="bq-author">
          <img src="../../../assets/img/demo/avatar6.jpg" alt="..." class="img-avatar-circle">
          <div class="bq-author-info pl-2">
            <h5 class="color-white index-1 no-m pt-4">Victoria Smith</h5>
            <div class="color-white index-1 np-m">Apple Inc.</div>
          </div>
        </div>
      </div>
    </div>
    <a href="javascript:void(0)" class="btn-circle btn-circle-primary zoomInDown animation-delay-7 slideRight" [ngClass]="{'invisible':hideRightButton}" (click) = "slideRight()"><i class="zmdi zmdi-chevron-right"></i></a>
  </div>
</div>
</div>