<div class="carousel-wrapper">
  <div class="container carousel-container">
  <div class="row">
    <h3 class="text-center">What Our Students Say</h3>
    <a href="javascript:void(0)" class="btn-circle btn-circle-primary zoomInDown animation-delay-7 slideLeft" [ngClass]="{'invisible':hideLeftButton}" (click) = "slideLeft($event)"><i class="zmdi zmdi-chevron-left"></i></a>
    <div id="testimonials-carousel" class="carousel-box">
      <div class="carousel-element pt-4 pb-4">
        <blockquote class="ms-blockquote">
          <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a
          </p>
          <footer>
            <strong>Jessica Smith, Perosnal Trainer</strong>,
            <cite title="Source Title">(GoodLife Fitness)</cite>
          </footer>
        </blockquote>
        <div class="bq-author">
          <img src="../../../assets/img/demo/avatar1.jpg" alt="..." class="img-avatar-circle">
        </div>
      </div>
      <div class="carousel-element pt-4 pb-4">
        <blockquote class="ms-blockquote">
          <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a
          </p>
          <footer>
            <strong>Jessica Smith, Perosnal Trainer</strong>,
            <cite title="Source Title">(GoodLife Fitness)</cite>
          </footer>
        </blockquote>
        <div class="bq-author">
          <img src="../../../assets/img/demo/avatar1.jpg" alt="..." class="img-avatar-circle">
        </div>
      </div>
      <div class="carousel-element pt-4 pb-4">
        <blockquote class="ms-blockquote">
          <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a
          </p>
          <footer>
            <strong>Jessica Smith, Perosnal Trainer</strong>,
            <cite title="Source Title">(GoodLife Fitness)</cite>
          </footer>
        </blockquote>
        <div class="bq-author">
          <img src="../../../assets/img/demo/avatar1.jpg" alt="..." class="img-avatar-circle">
        </div>
      </div>
      <div class="carousel-element pt-4 pb-4">
        <blockquote class="ms-blockquote">
          <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a
          </p>
          <footer>
            <strong>Jessica Smith, Perosnal Trainer</strong>,
            <cite title="Source Title">(GoodLife Fitness)</cite>
          </footer>
        </blockquote>
        <div class="bq-author">
          <img src="../../../assets/img/demo/avatar1.jpg" alt="..." class="img-avatar-circle">
        </div>
      </div>
      <div class="carousel-element pt-4 pb-4">
        <blockquote class="ms-blockquote">
          <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a
          </p>
          <footer>
            <strong>Jessica Smith, Perosnal Trainer</strong>,
            <cite title="Source Title">(GoodLife Fitness)</cite>
          </footer>
        </blockquote>
        <div class="bq-author">
          <img src="../../../assets/img/demo/avatar1.jpg" alt="..." class="img-avatar-circle">
        </div>
      </div>
    </div>
    <ol class="carousel-indicators carousel-indicators-primary">
      <li data-target="#testimonials-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#testimonials-carousel" data-slide-to="1" class=""></li>
      <li data-target="#testimonials-carousel" data-slide-to="2" class=""></li>
      <li data-target="#testimonials-carousel" data-slide-to="3" class=""></li>
      <li data-target="#testimonials-carousel" data-slide-to="4" class=""></li>
    </ol>
    <a href="javascript:void(0)" class="btn-circle btn-circle-primary zoomInDown animation-delay-7 slideRight" [ngClass]="{'invisible':hideRightButton}" (click) = "slideRight()"><i class="zmdi zmdi-chevron-right"></i></a>
  </div>
</div>
</div>