.carousel-wrapper{
  width:100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .carousel-container{
    position: relative;
    .slideLeft,.slideRight{
      position: absolute;
      top: 50%;
      cursor: pointer;
      height: 50px;
      width:50px;
      border-radius:25px;
      display:flex;
      justify-content: center;
      align-items: center;
      z-index: 50;
      &.invisible{
        display: none;
      }
      i{
        font-size:40px;
      }
    }
    .slideLeft{
      left: 0;
      transform: translate(0%,-50%);
      @media (max-width: 767px) {
        transform: translate(10px,-50%);
      }
    }
    .slideRight{
      right: 0;
      transform: translate(0%,-50%);
      @media (max-width: 767px) {
        transform: translate(-10px,-50%);
      }
    }
    .carousel-box{
      display: -webkit-box;
      overflow-x: hidden;
      .carousel-element{
        width: 85%;
        margin: 0 auto;
        display: flex;
        overflow: hidden;
        justify-content: center;
        @media (max-width: 768px) {
          flex-direction:column;
          align-items: center;
        }
        blockquote{
          border:0;
        }
        .img-avatar-circle {
          transform: rotate(0deg);
          @media (max-width: 991px) {
            height: 80px;
            width: 80px;
          }
          &:hover{
            transform: rotate(360deg);
          }
        }
      }
    }
    .carousel-indicators{
      bottom:0;
      left: 50%;
      width: 100%;
      padding-left: 0;
      margin-left: -50%;
      li{
        border-color: #EB8C00;
        &.active{
          background-color: #EB8C00;
        }
      }
    }
  }
}


